<div id="loading" ng-if="loading" style="background-image:url('../../../../img/cargando600.gif')">
  <div class="remain text-center">{{ subidas }} / {{fotosUser.length}} fotos</div>
</div>

<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="paqueteFotos({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="50"></uib-progressbar>
        </div>
        <div class="col-xs-12 paddingbottom" style="display: flex;">
          <h3 class="title-product">Elige el número de fotos y color de tus accesorios.</h3>
          <div class="text-center open-disclaimer" ng-click="displayDisclaimer(true)">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
          <a href="http://blog.instampa.co/cuerdas/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div ng-if="disclaimer_active == true" class="col-md-11 info-disclaimer">
          <a ng-click="displayDisclaimer(false)" class="close-disclaimer">
            <img src="../../../../img/xwhite.svg" class="close-x">
          </a>
          <div class="content-img">
            <img ng-src="{{disclaimer.imagen}}">
          </div>
          <p ng-bind-html="disclaimer.disclaimer"></p>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-offset-3 col-xs-6 text-center prod-control" ng-init="id = 0">
            <div ng-click="(id == 0) ? id = products.length-1: id=id-1; crearCantidadFotos(id)" class="nav-prod prev"><i class="fa fa-minus"></i></div>
            <p>({{products[id].numfotos}} Fotos)</p>
            <div ng-click="(id == products.length -1) ? id=0 : id=id+1; crearCantidadFotos(id)" class="nav-prod next"><i class="fa fa-plus"></i></div>
          </div>
        </div>

        <div class="col-xs-12 precio-fotos">
          <span class="labelvalor">Valor total</span>
          <span class="valor text-center" ng-model="products[id].precio">{{products[id].precio  | currency:'COP' : 0}}</span>
        </div>

        <div class="col-xs-12 paddingbottom">
            <div class="col-xs-12 accesory-title">
                <span>Color de cuerdas:</span>
            </div>
            <div class="col-xs-12 color-container">
              <div class="colors">
                <span ng-repeat="color in cuerdas"
                      ng-init="colorindex = $index"
                      ng-if="color.color_code != null"
                      style="background-color: {{color.color_code}}"
                      ng-click="selectCuerda(color)"
                      ng-class="{borderblack : color.color_code == '#FFFFFF', selected : selectedCuerdas.color_code == color.color_code}"></span>
              </div>
            </div>
        </div>

        <div class="col-xs-12 paddingbottom">
          <div class="col-xs-12 accesory-title">
            <span>Color de pinzas:</span>
          </div>
          <div class="col-xs-12 color-container">
            <div class="colors">
              <span ng-repeat="pinza in pinzas"
                    ng-init="pinzaindex = $index"
                    ng-if="pinza.color_code != null"
                    style="background-color: {{pinza.color_code}}"
                    ng-click="selectPinza(pinza)"
                    ng-class="{borderblack : pinza.color_code == '#FFFFFF', selected : selectedPinza.color_code == pinza.color_code}"></span>
            </div>
          </div>
        </div>

        <div class="col-xs-12 fotos-controller paddingbottom text-center">
          <div class="col-xs-6 btn-add">
            <input class="btn-green" type="file" id="file" ng-click="showGif()" ngf-select="vm.upload()" ngf-min-width="1" ngf-min-height="1" ngf-accept="'image/*'" ngf-multiple="true" ng-model="files">
            <label class="btn-add-file" for="file">Agrega Fotos</label>
          </div>
          <div class="col-xs-6 tipo-foto" style="padding: 0px;">
            <span class="labelvalor">Formato foto</span>
            <div>
              <input type="checkbox" class="css-checkbox" id="format" ng-model="format" name="">
              <label for="format" class="css-label-check" ng-click="changeFormato(format)"></label>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center" style="height: 2rem;">
          <p>Antes de imprimir, Nosotros CENTRAMOS y AJUSTAMOS las fotos al espacio de impresión.</p>
        </div>

        <div class="col-md-12 paddingbottom" style="display: initial">
          <div class="cuerda" style="border-color:{{selectedCuerdas.color_code}}">
            <div class="pinzas">
              <div class="pinza1" style="background-color:{{selectedPinza.color_code}}"></div>
              <div class="pinza2" style="background-color:{{selectedPinza.color_code}}"></div>
            </div>
          </div>
        </div>

        <div class="container-photos">
          <div class="col-md-2 col-xs-6 col-sm-2" ng-repeat="i in fotos">
            <div class="polaroid">
              <a ng-if="fotosUser[$index]" ng-click="delete($index)" class="delete">
                <img src="../../../../img/xwhite.svg">
              </a>
              <img class="polaroidimage" ng-src="../../../../img/{{polaroid}}">
              <div class="fotos-agregadas" ng-class="{'crophorizontal' : fotosUser[$index].width >= fotosUser[$index].height, 'cropvertical' : fotosUser[$index].height > fotosUser[$index].width}">
                <img ngf-thumbnail="fotosUser[$index] || '/img/instampa_placeholder.svg'">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <p>* Los precios no incluyen IVA</p>
        </div>

        <div class="col-md-12 fotos-controller text-center">
          <div class="col-md-3">
            <a href="" class="btn-continuar text-center" ng-click="continue(products[id], format)" >Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
