<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-12 text-center">
        <ul class="menuproducts">
          <li class="col-md-2" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center paddingbottom">
        <h3 class="title-product">Contáctanos</h3>
      </div>

      <div class="col-md-12 text-center paddingbottom">
        <div class="desc">
          <p>¿Tienes alguna pregunta o deseas información adicional de nuestros productos? Escríbenos y te contactaremos.</p>
        </div>
      </div>

      <div class="col-md-12 cont-formulario-contacto">
        <form class="col-md-8 col-md-offset-2 formulario-contacto">
          <div class="form-group col-md-12">
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre y Apellido" ng-model="contacto.nombre">
          </div>
          <div class="form-group col-md-12">
            <label for="celular">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" placeholder="Correo electrónico" ng-model="contacto.correo">
          </div>
          <div class="form-group col-md-12">
            <label for="celular">Mensaje</label>
            <textarea class="form-control" id="mensaje" placeholder="Mensaje" ng-model="contacto.mensaje" rows="5"></textarea>
          </div>
          <div class="form-group col-md-12">
            <p>{{sendmessage}}</p>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <a href="" ng-click="send()" class="btn-continuar-comprando text-center">Enviar</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
