<div class="cont-products">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 class="title-product">{{fotos[0].caption.from.full_name}}</h3>
        <div class="desc">
          <p>Momentos Instampa</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="row no-padding">
      <div class="masonry">
        <div ng-repeat="foto in fotos" class="item">
          <a ng-href="{{foto.link}}" target="_blank">
            <img class="img-responsive" ng-src="{{foto.images.standard_resolution.url}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
