<div class="col-md-12 last usechrome text-center" ng-if="isFirefox">
  <div class="col-xs-11">
    <p
      ><img src="../../../../img/i.svg" class="alertimage"> Si quieres tener una mejor experiencia te recomendamos utilizar <a href="https://www.google.com/chrome/browser/desktop/"
      target="_blank" class="helvetica-bold">Google Chrome</a>.
    </p>
  </div>
  <div class="closebtn" ng-click="closeUserChrome()">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <defs>
        <style>.cls-1{fill:#fff;}</style>
      </defs>
      <path class="cls-1" d="M10,.44A9.56,9.56,0,1,0,19.56,10,9.56,9.56,0,0,0,10,.44Zm3.77,12.47A.75.75,0,0,1,12.71,14L10,11.26,7.29,14a.75.75,0,0,1-1.06-1.06L8.94,10.2,6.23,7.49A.75.75,0,0,1,7.29,6.43L10,9.14l2.71-2.71a.75.75,0,0,1,1.06,1.06L11.06,10.2Z"/>
    </svg>
  </div>
</div>
<div class="row foto-home" ng-if="img">
  <div class="cuerdas-home" ui-sref="cuerdasPinzas({idtipoproducto:4})" ng-mousemove="showtooltip($event, 3)">
    <div class="tultip" id="producto3"><p>{{tipos[3].nombre}}</p></div>
  </div>
  <div class="marcos-home" ui-sref="marcos({idtipoproducto:2})" ng-mousemove="showtooltip($event, 1)">
    <div class="tultip" id="producto1"><p>{{tipos[1].nombre}}</p></div>
  </div>
  <div class="album-home" ui-sref="albumes({idtipoproducto:5})" ng-mousemove="showtooltip($event, 4)">
    <div class="tultip" id="producto4"><p>{{tipos[4].nombre}}</p></div>
  </div>
  <div class="packete-home" ui-sref="paqueteFotos({idtipoproducto:1})" ng-mousemove="showtooltip($event, 0)">
    <div class="tultip" id="producto0"><p>{{tipos[0].nombre}}</p></div>
  </div>
  <div class="postales-home" ui-sref="postales({idtipoproducto:6})" ng-mousemove="showtooltip($event, 5)">
    <div class="tultip" id="producto5"><p>{{tipos[5].nombre}}</p></div>
  </div>
  <div class="caballetes-home" ui-sref="caballetes({idtipoproducto:3})" ng-mousemove="showtooltip($event, 2)">
    <div class="tultip" id="producto2"><p>{{tipos[2].nombre}}</p></div>
  </div>
  <div class="downkey">

    <a class="home-imprime" href="" ng-click="keydown()">
      <span class="text-center">Ver productos</span>
    </a>

  </div>
</div>
<div class="cont-products" id="products2">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 class="title-product">¡Instampa tus instantes!</h3>
        <div class="products">
          <div class="desc">
            <p style="font-size: 15px;">Imprime tus fotos con la opción que quieras.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="row no-padding" id="products">
      <div class="col-md-2 col-xs-6 text-center animate-box fadeInUp animated-fast" ng-repeat="tipo in tipos">
        <div class="products">
      <span class="image">
      <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})"><img ng-src="{{tipo.imagen}}" alt="" class="img-responsive"></a>
      </span>
          <div class="desc">
            <h3><a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})">{{tipo.nombre}}</a></h3>
            <p style="height: 15rem;">{{tipo.descripcion}}.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
