@font-face {
  font-family: 'montserratlight';
  src: url("../assets/fonts/montserrat-light-webfont.woff2") format("woff2"), url("../assest/fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "montserratlight", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7;
  color: #828282;
  background: #ffffff; }

.main {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.offcanvas .main {
  overflow: hidden;
  position: absolute; }

.offcanvas .main:after {
  -webkit-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(133, 130, 249, 0.2);
  content: ""; }

a {
  color: #8582f9;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

a:active,
a:focus,
a:hover {
  color: #8582f9;
  outline: none;
  text-decoration: none; }

p {
  font-size: 12px;
  padding: 0 15px;
  margin-bottom: 20px; }

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "montserratlight", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0; }

.clear {
  clear: both; }

.no-padding div[class*=col-] {
  padding-left: 0;
  padding-right: 0; }

::-webkit-selection {
  color: #fff;
  background: #8582f9; }

::-moz-selection {
  color: #fff;
  background: #8582f9; }

::selection {
  color: #fff;
  background: #8582f9; }

header {
  border-bottom: 4px solid #eaeaea;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff; }

header .top-menu {
  padding: 25px 0; }

@media screen and (max-width: 768px) {
  header .cont-logo {
    text-align: center;
    display: block; } }

header .cont-logo .logo {
  margin: 0.3rem 0;
  height: 3rem; }
  @media screen and (max-width: 768px) {
    header .cont-logo .logo {
      width: 55%; } }

@media screen and (max-width: 768px) {
  header .menu-1 {
    display: none; } }

header ul.navigation {
  padding: 0;
  margin: 2px 0 0 0;
  display: table;
  width: 100%; }

header ul.navigation li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline; }

header ul.navigation li a {
  font-size: 15px;
  padding: 10px 15px;
  vertical-align: middle;
  color: #000;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

header ul.navigation li a:active,
header ul.navigation li a:focus,
header ul.navigation li a:hover {
  color: #444; }

header ul.navigation li a:active:after,
header ul.navigation li a:focus:after,
header ul.navigation li a:hover:after {
  bottom: 0;
  width: 100%; }

header ul.navigation li a:after {
  content: "";
  background: #8582f9;
  width: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  bottom: -5px;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

header ul.navigation li a.btn-login {
  background: #8582f9;
  color: #fff;
  border-radius: 30px;
  padding: 9px 33px;
  margin: 0 5px 0 10px; }

header ul.navigation li a.btn-login:hover {
  background: rgba(133, 130, 249, 0.9); }

header ul.navigation li a.btn-login:after {
  display: none; }

header ul.navigation li.has-dropdown {
  position: relative; }

header ul.navigation li.has-dropdown .dropdown {
  width: 145px;
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  -webkit-transition: 0s;
  transition: 0s; }

header ul.navigation li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  border-bottom-color: #fff;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 8px;
  margin-left: -8px; }

header ul.navigation li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px; }

header ul.navigation li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0; }

header ul.navigation li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0; }

header ul.navigation li.has-dropdown .dropdown li a:hover {
  color: #4d4d4d; }

header ul.navigation li.has-dropdown:focus a,
header ul.navigation li.has-dropdown:hover a {
  color: #fff; }

header ul.navigation li.btn-cta a {
  padding: 30px 0px !important;
  color: #fff; }

header ul.navigation li.btn-cta a span {
  background: #da1c5c;
  padding: 4px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 100px; }

header ul.navigation li.btn-cta a:hover span {
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75); }

header ul.navigation li.active > a {
  color: #fff;
  position: relative; }

header ul.navigation li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 15px;
  width: 20px;
  height: 2px;
  background: #8582f9;
  margin: 0 auto; }

header ul.navigation li.social a {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 3px; }

header ul.navigation li.social a i {
  background: url(../img/social.png) no-repeat;
  display: block;
  height: 20px;
  width: 20px; }

header ul.navigation li.social a.facebook i {
  background-position: 2px -4px; }

header ul.navigation li.social a.twitter i {
  background-position: -40px -4px; }

header ul.navigation li.social a.instagram i {
  background-position: -84px -4px; }

header ul.navigation li.social a:hover {
  border-color: #8582f9; }

header ul.navigation li.social a:after {
  display: none; }

header.fix {
  position: fixed;
  background: #fff; }

header.fix #bkc-logo a {
  padding: 0; }

header.fix #bkc-logo a .logo1 {
  display: none;
  visibility: hidden; }

header.fix #bkc-logo a .logo2 {
  display: block;
  visibility: visible; }

header.fix .top-menu {
  padding: 15px 0; }

header.fix ul li > a {
  color: rgba(0, 0, 0, 0.7); }

header.fix ul li.active > a {
  color: #000; }

.bar-header {
  height: 92px; }

.bkc-heading {
  margin-bottom: 4em; }

.bkc-heading.bkc-heading-sm {
  margin-bottom: 2em; }

.bkc-heading h2 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #000; }

.bkc-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282; }

.bkc-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

.cont-products {
  padding: 7em 0;
  clear: both; }

@media screen and (max-width: 768px) {
  .cont-products {
    padding: 3em 0; }
  .cont-content {
    padding: 1em 0; } }

.social-device {
  display: none; }
  @media screen and (max-width: 768px) {
    .social-device {
      display: block;
      float: right;
      margin-top: -34px; }
      .social-device a.cart i {
        background: url(../img/carrito.svg) no-repeat;
        display: block;
        height: 25px;
        width: 25px; } }

.cont-content {
  padding: 1em 0;
  clear: both; }

.products {
  position: relative;
  padding: 5px;
  border: 1px solid rgbs(#000, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px; }

.products h3 {
  font-size: 14px; }

.products h3 a {
  color: #000; }

.products .image {
  width: 100%;
  height: auto;
  display: table;
  text-align: center;
  margin-bottom: 3em;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

@media screen and (max-width: 992px) {
  .products .image {
    margin: 0 auto 30px auto; } }

.products .image img {
  width: 100%;
  max-width: 200px;
  margin: auto; }

.products:focus,
.products:hover {
  -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.15); }

.products:focus .icon,
.products:hover .icon {
  -ms-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.13); }

.products:focus h3 a,
.products:hover h3 a {
  color: #8582f9; }

footer {
  background: #8582f9;
  color: #fff;
  padding: 3.2% 0 2.2%; }

footer h4 {
  color: #fff; }

footer ul {
  padding: 0;
  margin: 0; }

footer ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }

footer ul li a {
  color: #fff;
  text-decoration: none; }

footer ul li a:hover {
  color: rgba(255, 255, 255, 0.7); }

footer .nav-footer {
  margin-bottom: 20px; }

footer .nav-footer li:before {
  content: "";
  border-right: 2px solid #fff;
  height: 16px;
  position: absolute;
  right: -3px;
  top: 3px; }

footer .nav-footer li:last-child:before {
  display: none; }

footer .nav-footer li a {
  padding: 5px;
  color: #fff; }

footer .nav-footer li a:active {
  color: #fff; }

footer .codesign .block,
footer .copyright .block {
  display: block; }

footer .codesign a,
footer .copyright a {
  color: #fff; }

.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 25px; }

.nav-toggle.active i:after,
.nav-toggle.active i:before {
  background: #8582f9; }

.nav-toggle:active,
.nav-toggle:focus,
.nav-toggle:hover {
  outline: none;
  border-bottom: none !important; }

.nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #8582f9;
  -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out; }

.nav-toggle i:after,
.nav-toggle i:before {
  content: '';
  width: 25px;
  height: 2px;
  background: #8582f9;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out; }

.nav-toggle i:before {
  top: -7px; }

.nav-toggle i:after {
  bottom: -7px; }

.nav-toggle:hover i:before {
  top: -10px; }

.nav-toggle:hover i:after {
  bottom: -10px; }

.nav-toggle.active i {
  background: transparent; }

.nav-toggle.active i:before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.nav-toggle.active i:after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.nav-toggle {
  position: initial;
  left: 30px;
  padding: 1px 0 0 0 !important;
  margin: 0 auto;
  height: auto;
  z-index: 2001;
  float: left; }

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block; } }

.nav-device {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: white;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -webkit-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

@media screen and (max-width: 768px) {
  .nav-device {
    display: block; } }

.offcanvas .nav-device {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

.nav-device a {
  color: rgba(68, 68, 68, 0.5); }

.nav-device a:hover {
  color: rgba(68, 68, 68, 0.8); }

.nav-device .btn-primary {
  color: #fff;
  padding: 5px 15px;
  border-radius: 30px;
  display: block;
  text-align: center;
  margin-top: 20px; }

.nav-device ul {
  padding: 0;
  margin: 0; }

.nav-device ul li {
  padding: 0;
  margin: 0;
  list-style: none; }

.nav-device ul li > ul {
  padding-left: 20px;
  display: none; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "montserratlight", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }

.btn.btn-md {
  padding: 8px 20px !important; }

.btn.btn-lg {
  padding: 18px 36px !important; }

.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  outline: none !important; }

.btn-primary {
  background: #8582f9;
  color: #fff;
  border: 2px solid #8582f9; }

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #9d9afa !important;
  border-color: #9d9afa !important; }

.btn-primary.btn-outline {
  background: transparent;
  color: #8582f9;
  border: 2px solid #8582f9; }

.btn-primary.btn-outline:active,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:hover {
  background: #8582f9;
  color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background: #4cae4c !important;
  border-color: #4cae4c !important; }

.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c; }

.btn-success.btn-outline:active,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:hover {
  background: #5cb85c;
  color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }

.btn-info:active,
.btn-info:focus,
.btn-info:hover {
  background: #46b8da !important;
  border-color: #46b8da !important; }

.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de; }

.btn-info.btn-outline:active,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:hover {
  background: #5bc0de;
  color: #fff; }

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e; }

.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  background: #eea236 !important;
  border-color: #eea236 !important; }

.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e; }

.btn-warning.btn-outline:active,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:hover {
  background: #f0ad4e;
  color: #fff; }

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f; }

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
  background: #d43f3a !important;
  border-color: #d43f3a !important; }

.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f; }

.btn-danger.btn-outline:active,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:hover {
  background: #d9534f;
  color: #fff; }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  box-shadow: none; }

.menuproducts {
  padding: 0;
  margin-bottom: 3em;
  display: table;
  width: 100%; }
  .menuproducts li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline; }
    .menuproducts li a {
      font-size: 15px;
      padding: 0 30px 15px 45px;
      vertical-align: middle;
      color: #000;
      position: relative;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .menuproducts li a:hover {
        color: #444; }
      .menuproducts li a:hover:after {
        bottom: 0;
        width: 100%; }
      .menuproducts li a.active {
        color: #444; }
      .menuproducts li a.active:after {
        bottom: 0;
        width: 100%; }
      .menuproducts li a:after {
        content: "";
        background: #8582f9;
        width: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 3px;
        bottom: -5px;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
  @media screen and (max-width: 768px) {
    .menuproducts {
      display: none; } }

.progress-bar {
  background-color: rgba(133, 130, 249, 0.9) !important;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }

.progress {
  border-radius: 10px !important;
  height: 10px !important;
  border: 1px solid #8582f9;
  box-shadow: none !important;
  background-color: inherit !important;
  margin-bottom: inherit !important; }

.paddingbottom {
  padding-bottom: 1em; }

.prod-control {
  float: none; }
  .prod-control p {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0; }
  @media screen and (max-width: 768px) {
    .prod-control {
      margin-bottom: 2.5em; } }

.nav-prod {
  background-color: rgba(133, 130, 249, 0.9);
  width: 23px;
  border-radius: 20px;
  height: 23px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  .nav-prod:hover {
    cursor: pointer; }

.content-arrow {
  margin-top: 90%; }

.prev-arrow {
  float: left;
  height: 82px;
  width: 54px; }

.svg {
  fill: red; }

.next-arrow {
  float: right;
  height: 82px;
  width: 54px; }

.prev {
  float: left; }

.next {
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: initial; }

.polaroid .polaroidimage {
  margin: 10%;
  height: 143px;
  width: 120px; }
  @media screen and (max-width: 667px) {
    .polaroid .polaroidimage {
      margin-left: 14%;
      margin-bottom: 20% !important; } }
  @media screen and (max-width: 320px) {
    .polaroid .polaroidimage {
      margin-right: 5% !important;
      margin-left: 0;
      margin-bottom: 10% !important; } }

.container-photos {
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
  display: table;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .container-photos {
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0; } }
  .container-photos .fotos-agregadas {
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 12%;
    height: 107px;
    width: 107px;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center; }
    @media screen and (max-width: 667px) {
      .container-photos .fotos-agregadas {
        left: 1.5rem;
        margin: 13% 0 0px 15%; } }
    @media screen and (max-width: 320px) {
      .container-photos .fotos-agregadas {
        margin: 14% 0 0 4%; } }
    .container-photos .fotos-agregadas img {
      width: 100%; }

.crophorizontal {
  -webkit-box-orient: horizontal; }
  .crophorizontal img {
    width: 100%;
    height: auto !important; }

.cropvertical {
  -webkit-box-orient: vertical; }
  .cropvertical img {
    width: auto !important;
    height: 100%; }

.foto-producto {
  width: 100%; }

.foto-producto-caballete {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: table; }

.btn-green {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.btn-green + label {
  font-weight: 700;
  display: inline-block;
  background: #25BDE7;
  color: #fff;
  border-radius: 30px;
  padding: 9px 33px;
  margin: 0 5px 0 10px;
  width: 200px; }
  @media screen and (max-width: 768px) {
    .btn-green + label {
      font-size: 0.90em;
      padding: 10px 7px;
      width: 145px;
      margin: 0 auto; } }

.btn-green:focus + label,
.btn-green + label:hover {
  background-color: #35D1FE; }

.tipo-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .tipo-foto .labelvalor {
    margin-bottom: initial;
    padding-right: 1em !important;
    padding-left: 1em !important;
    color: black;
    font-size: 1.2em;
    font-weight: normal;
    padding-right: 0px; }
    @media screen and (max-width: 768px) {
      .tipo-foto .labelvalor {
        font-size: 1em; } }
  .tipo-foto label {
    padding-right: 1em !important; }
  .tipo-foto img {
    padding: 0.5rem; }
  @media screen and (max-width: 768px) {
    .tipo-foto {
      display: inherit; } }

.fotos-controller {
  margin-top: 3rem; }
  @media screen and (max-width: 768px) {
    .fotos-controller {
      margin-top: 1rem; } }

.precio-fotos {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .precio-fotos .labelvalor {
    margin-bottom: initial;
    padding-right: 1em;
    color: black;
    font-size: 1.2em; }
  .precio-fotos .valor {
    border-bottom: 0.2em solid #8582f9; }

.valor {
  border-bottom: 0.2em solid #8582f9;
  font-size: 1.2em; }

.btn-continuar {
  font-size: 1.2em;
  display: inline-block;
  background: #8582f9;
  color: #fff;
  border-radius: 30px;
  padding: 9px 33px 8px 33px;
  margin: 0 5px 0 10px;
  width: 200px;
  z-index: 99; }
  .btn-continuar:hover {
    color: white !important; }
  @media screen and (max-width: 768px) {
    .btn-continuar {
      width: 80%; } }

.btn-volver {
  font-weight: 700;
  color: #fff;
  background-color: #ff7d5a;
  display: inline-block;
  border-radius: 30px;
  width: 80px;
  height: 44px;
  font-size: 1.2em;
  padding-top: 5%; }
  .btn-volver:hover {
    color: white; }
  @media screen and (max-width: 768px) {
    .btn-volver {
      width: 45px !important;
      height: 45px;
      font-size: 2em; } }

.btn-type {
  font-size: 1em;
  display: inline-block;
  background: #fff;
  color: #828282;
  border-radius: 30px;
  padding: 9px 33px 8px 33px;
  margin: 0 5px 1rem 10px;
  width: 80%;
  z-index: 99;
  border: #828282 1px solid; }
  .btn-type:hover, .btn-type:active, .btn-type:focus {
    background: #8582f9;
    color: #fff;
    border: #8582f9 1px solid; }
  @media screen and (max-width: 768px) {
    .btn-type {
      width: 80%; } }

.typeactive {
  background: #8582f9 !important;
  color: #fff !important;
  border: #8582f9 1px solid !important; }

.line-div {
  width: 90%;
  border-bottom: #d6d6d6 1px solid;
  margin-left: 5%;
  margin-bottom: 2rem;
  margin-top: 1rem; }

.btn-blue {
  font-size: 1em;
  display: inline-block;
  background: #2edbed;
  color: #ffffff;
  border-radius: 30px;
  padding: 9px 33px 8px 33px;
  margin: 0 5px 1rem 10px;
  width: 80%;
  z-index: 99;
  border: #2edbed 1px solid; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    color: #2edbed;
    background: #fff; }

.btn-back {
  font-size: 1em;
  display: inline-block;
  background: #fff;
  color: #8582f9;
  border-radius: 30px;
  padding: 9px 33px 8px 33px;
  margin: 0 5px 1rem 10px;
  width: 80%;
  z-index: 99;
  border: #8582f9 1px solid; }

.add-btn {
  position: absolute;
  display: initial; }

.remove-btn {
  position: absolute;
  display: initial;
  float: left;
  margin-left: 2%; }

.border-right {
  border-right: #d6d6d6 1px solid; }

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type=checkbox].css-checkbox + label.css-label-check {
  padding-left: 83px;
  height: 25px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    input[type=checkbox].css-checkbox + label.css-label-check {
      font-size: 10px; } }

input[type=checkbox].css-checkbox:checked + label.css-label-check {
  background-position: 0 -25px; }

label.css-label-check {
  background-image: url(../img/toogle.svg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: 93px; }

.checkbox-policy-mobile a {
  color: #ffffff; }
  .checkbox-policy-mobile a span {
    text-decoration: underline; }

.checkbox-policy a {
  color: #828282; }
  .checkbox-policy a span {
    color: #8582f9; }
    .checkbox-policy a span:hover {
      text-decoration: underline; }

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

.colors-caballete {
  margin-right: auto;
  margin-left: auto;
  display: table; }
  .colors-caballete span {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    float: left; }
    .colors-caballete span:hover {
      border: 2px solid #8582f9;
      cursor: pointer; }
    .colors-caballete span.selected {
      border: 2px solid #8582f9; }
  @media screen and (max-width: 768px) {
    .colors-caballete {
      margin-bottom: 1em; } }

.colors {
  margin-right: auto;
  margin-left: auto;
  display: table; }
  .colors span {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: left; }
    .colors span:hover {
      border: 2px solid #8582f9;
      cursor: pointer; }
    .colors span.selected {
      border: 2px solid #8582f9; }
  @media screen and (max-width: 768px) {
    .colors {
      margin-bottom: 1em; } }

@media screen and (max-width: 667px) {
  .empaque span {
    display: block; } }

.empaque img {
  height: 260px;
  padding: 15px; }
  .empaque img.selected {
    border: 8px solid #8582f9;
    border-radius: 20px; }
  .empaque img.selectedMobile {
    border-bottom: 4px solid #8582f9 !important; }
  @media screen and (max-width: 768px) {
    .empaque img {
      padding: 0px 15px 10px 15px;
      border-bottom: 4px solid white !important;
      height: 60px; } }

.image-empaque {
  height: 150px;
  padding: 15px; }

.packing-description {
  margin-top: 10px;
  text-align: center; }

.content-cart {
  max-height: 37rem;
  overflow: auto;
  padding: 0.5rem; }
  @media screen and (max-width: 768px) {
    .content-cart {
      overflow: initial;
      max-height: none; } }
  @media screen and (max-width: 667px) {
    .content-cart {
      overflow: initial;
      max-height: none; } }
  .content-cart .productos-carrito {
    margin-bottom: 2rem;
    display: inline-block; }
    .content-cart .productos-carrito .producto .titulo {
      font-size: 1.5rem; }
    .content-cart .productos-carrito .producto .descripcion {
      font-size: 1.5rem;
      color: #000000; }
    .content-cart .productos-carrito .costo {
      padding-top: 7rem; }
      .content-cart .productos-carrito .costo .separador {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 20px;
        background: #EAEAEA;
        margin-top: 15px; }
      .content-cart .productos-carrito .costo .precio {
        border-radius: 10px;
        font-size: 1.2em;
        height: 50px;
        background: #EAEAEA;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    @media screen and (max-width: 768px) {
      .content-cart .productos-carrito {
        margin-bottom: 2em; } }

.btn-continuar-comprando {
  font-size: 1.1em;
  font-weight: 700;
  display: inline-block;
  background: #25BDE7;
  color: #fff;
  border-radius: 30px;
  padding: 9px 33px;
  width: 100%; }
  .btn-continuar-comprando:hover {
    color: #fff; }
  .btn-continuar-comprando:focus {
    color: #fff; }

.formulario-pago .titulo {
  margin-top: 2.5rem; }

.formulario {
  width: 100%;
  height: 100%;
  padding: 3rem;
  background: #EAEAEA; }
  @media screen and (max-width: 768px) {
    .formulario {
      background: #8582f9; }
      .formulario label {
        color: white; } }

.metodo-pago {
  margin-top: 2.5rem; }
  .metodo-pago .radius-pay-u {
    border-radius: 50%;
    border-style: solid;
    border-color: #25BDE7;
    width: 55%;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .metodo-pago .radius-pay-u {
        width: 111px;
        height: 111px; } }
  .metodo-pago .pay-u {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    display: inline-block;
    background: #25BDE7;
    color: #fff;
    border-radius: 50%;
    padding: 30px 20px; }
    @media screen and (max-width: 768px) {
      .metodo-pago .pay-u {
        padding: 10px 10px;
        height: 95px; } }

@media screen and (max-width: 768px) {
  .title-product {
    font-size: 14pt;
    text-align: center;
    margin: inherit; } }

.btn-add {
  padding: 0px;
  margin-top: 0; }
  .btn-add .btn-add-file {
    font-size: 1.2em;
    font-weight: normal; }
    @media screen and (max-width: 768px) {
      .btn-add .btn-add-file {
        font-size: 1em; } }
  @media screen and (max-width: 768px) {
    .btn-add {
      margin-top: 1em; } }

.borderblack {
  border: 1px solid black; }

.delete {
  position: absolute;
  float: right;
  width: 2rem;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  left: 14rem; }
  .delete:hover {
    cursor: pointer; }
  .delete img {
    height: 2rem;
    z-index: 9; }

.deleteCheckout {
  float: right;
  border-radius: 10px;
  width: 35px;
  text-align: center; }
  .deleteCheckout:hover {
    cursor: pointer; }

.caballetes-desc {
  border: solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .caballetes-desc p {
    font-size: 1.5em;
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 768px) {
    .caballetes-desc {
      border: solid;
      border-radius: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .caballetes-desc p {
        font-size: 0.7em;
        margin: 0;
        padding: 0; } }

.caballetes-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .caballetes-btn .previus-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #8582f9;
    color: white;
    width: 2em;
    font-size: 2em;
    border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .caballetes-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .caballetes-btn .previus-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #8582f9;
        color: white;
        width: 1.5em;
        font-size: 1.5em;
        border-radius: 50%; } }

.total {
  display: initial; }
  .total .precio {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: #8582f9;
    color: white; }

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; } }

.accesory-title {
  top: 1.2rem;
  padding-right: 0; }
  .accesory-title span {
    top: 30%; }
  @media screen and (max-width: 768px) {
    .accesory-title {
      text-align: center;
      padding-left: 0; } }

.color-container {
  padding-left: 0; }
  @media screen and (max-width: 667px) {
    .color-container {
      padding-left: 30px; } }
  @media screen and (max-width: 320px) {
    .color-container {
      padding-left: 15px; } }
  .color-container .colors {
    margin-right: auto;
    margin-left: auto;
    display: table; }
    .color-container .colors span {
      height: 30px;
      width: 30px;
      border-radius: 10px;
      margin-right: 10px;
      margin-top: 10px;
      float: left; }
      @media screen and (max-width: 667px) {
        .color-container .colors span {
          height: 25px;
          width: 25px;
          margin-right: 2%;
          margin-top: 10px;
          margin-left: 3%; } }
      @media screen and (max-width: 320px) {
        .color-container .colors span {
          height: 25px;
          width: 25px;
          margin-right: 0;
          margin-top: 10px;
          margin-left: 7px; } }
      .color-container .colors span:hover {
        border: 2px solid #8582f9;
        cursor: pointer; }
      .color-container .colors span.selected {
        border: 2px solid #8582f9; }
    @media screen and (max-width: 768px) {
      .color-container .colors {
        margin-bottom: 1em;
        width: 100%; } }

.cuerda {
  height: 2rem;
  border-bottom: 2px solid;
  position: relative; }
  @media screen and (max-width: 768px) {
    .cuerda {
      margin-top: 2rem; } }
  .cuerda .pinzas {
    position: absolute;
    z-index: 9;
    left: 18rem; }
    @media screen and (max-width: 667px) {
      .cuerda .pinzas {
        left: 10%;
        width: 82%; } }
    @media screen and (max-width: 320px) {
      .cuerda .pinzas {
        left: 5%;
        width: 90%; } }
    .cuerda .pinzas .pinza {
      height: 3rem;
      width: 1rem;
      float: left;
      margin-right: 14.5rem; }
      @media screen and (max-width: 768px) {
        .cuerda .pinzas .pinza {
          margin-right: 8rem; } }
      @media screen and (max-width: 667px) {
        .cuerda .pinzas .pinza {
          margin-right: 8rem; } }
    .cuerda .pinzas .pinza1 {
      height: 3rem;
      width: 1rem;
      float: left;
      margin-left: 18%; }
    .cuerda .pinzas .pinza2 {
      height: 3rem;
      width: 1rem;
      float: left;
      margin-left: 58%; }

.container-disclaimer .disclaimer {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #8582f9;
  border-radius: 1rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin: 0.6rem 0 0 0.5rem;
  font-size: 1.4rem; }
  .container-disclaimer .disclaimer .info {
    height: 2.3rem; }

.container-disclaimer .info-disclaimer {
  display: none;
  z-index: 999;
  position: absolute;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 2rem;
  color: #828282;
  left: 35%;
  top: 10%;
  border-radius: 2rem; }
  .container-disclaimer .info-disclaimer img {
    position: relative;
    left: 25%;
    width: 50%; }
  .container-disclaimer .info-disclaimer p {
    text-align: initial;
    line-height: 1.5rem; }
  .container-disclaimer .info-disclaimer .close-disclaimer {
    float: right;
    width: 2rem;
    height: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: -1rem;
    left: 30rem; }
    .container-disclaimer .info-disclaimer .close-disclaimer .close-x {
      height: 2rem; }

.container-disclaimer:hover .info-disclaimer {
  display: block; }

@media screen and (max-width: 768px) {
  .open-disclaimer {
    height: 15px; } }

.open-disclaimer .disclaimer {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #8582f9;
  border-radius: 1rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .open-disclaimer .disclaimer {
      position: relative; } }
  .open-disclaimer .disclaimer .info {
    height: 2.3rem; }

.info-disclaimer {
  z-index: 999;
  position: absolute;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 2rem;
  color: #828282;
  left: 35%;
  top: 10%;
  border-radius: 2rem; }
  @media screen and (max-width: 768px) {
    .info-disclaimer {
      top: 22%;
      border-radius: 1rem;
      left: 10vw;
      padding: 0 15px;
      width: 80vw;
      position: absolute; } }
  @media screen and (max-width: 410px) and (min-width: 320px) {
    .info-disclaimer {
      top: 23%;
      border-radius: 1rem;
      left: 9vw;
      padding: 0 15px;
      width: 84vw; } }
  .info-disclaimer .content-img {
    text-align: center; }
  .info-disclaimer img {
    position: relative;
    left: 25%; }
    @media screen and (max-width: 768px) {
      .info-disclaimer img {
        left: 0; } }
  .info-disclaimer p {
    text-align: initial;
    line-height: 1.5rem; }
    @media screen and (max-width: 768px) {
      .info-disclaimer p {
        padding: initial; } }
  .info-disclaimer .close-disclaimer {
    float: right;
    width: 2rem;
    height: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: -1rem;
    left: 30rem; }
    .info-disclaimer .close-disclaimer .close-x {
      height: 2rem; }
    @media screen and (max-width: 768px) {
      .info-disclaimer .close-disclaimer {
        left: 78vw; } }
    @media screen and (max-width: 410px) and (min-width: 320px) {
      .info-disclaimer .close-disclaimer {
        left: 81vw; } }

.instagram-widget {
  width: 95%;
  border: 0;
  overflow: hidden;
  height: 80vh;
  margin-left: 2vh;
  margin-top: 5vh; }
  @media screen and (max-width: 768px) {
    .instagram-widget {
      margin-left: initial;
      margin-top: initial; } }

.postales-img {
  width: 50vw;
  height: 60vh;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .postales-img {
      background-size: 80% 80%;
      background-repeat: no-repeat;
      width: auto;
      height: auto;
      display: block; } }
  .postales-img img {
    position: absolute; }
  .postales-img .textarea-comment {
    width: 50%; }

.tweet-comment {
  width: 90%;
  height: auto;
  margin-top: 10%;
  background: transparent;
  margin-left: 5%; }
  @media screen and (max-width: 768px) {
    .tweet-comment {
      width: 100%;
      margin-top: 0;
      background-color: rgba(0, 0, 0, 0.05);
      color: #000000;
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      margin-left: initial; } }

.tweet-comment {
  width: 90%;
  height: auto;
  background: transparent; }
  @media screen and (max-width: 768px) {
    .tweet-comment {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      color: #000000;
      border: none;
      border-radius: 1rem;
      padding: 1rem; } }

.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }
  .masonry a img {
    margin-bottom: 20px; }
  .masonry a p {
    color: #828282; }
  .masonry a .link-post {
    color: #8582f9;
    margin-right: 1rem; }

.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc; }

@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5; } }

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px; } }

.fbMess {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5000;
  background-color: #0179ff;
  color: #fff;
  display: inline-block;
  padding: 10px 25px; }
  .fbMess .fb-messenger-svg {
    top: 2px;
    margin-right: 8px; }
  .fbMess svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom; }
  .fbMess path {
    fill: #fff; }
  .fbMess:hover {
    color: #fff; }

@media screen and (max-width: 768px) {
  .cont-formulario-contacto {
    padding: 0; } }

.cont-formulario-contacto .formulario-contacto {
  background-color: #8582f9;
  border-radius: 10px;
  color: #ffffff;
  padding: 3rem; }
  @media screen and (max-width: 768px) {
    .cont-formulario-contacto .formulario-contacto {
      border-radius: 0; } }
  .cont-formulario-contacto .formulario-contacto textarea {
    resize: none; }

.dropdown-menu {
  min-width: 165px !important;
  padding: 10px !important;
  margin: 16px 0 0 !important; }
  .dropdown-menu li:hover {
    cursor: pointer; }

.row-products {
  margin-top: 3%;
  margin-bottom: 3%; }

.products-list {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: #d6d6d6 1px solid; }
  .products-list .product-controls .control {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
    margin-right: 2rem;
    display: inline-block;
    float: left;
    position: static; }
  .products-list .product-controls .edit {
    background-color: #8582f9; }
  .products-list .product-controls .delete {
    background-color: #f95555; }

.products-list-head {
  padding: 0 0 1rem 0;
  font-weight: bold; }

.productform .section-container {
  border-bottom: #d6d6d6 1px solid;
  padding-top: 2rem; }
  .productform .section-container .types {
    display: inline;
    margin-right: 3.5rem; }
  .productform .section-container .inputtext {
    display: grid; }
    .productform .section-container .inputtext label {
      color: #333;
      margin-bottom: 5%; }
    .productform .section-container .inputtext input {
      border-radius: 15px;
      border: black 1px solid;
      padding: 0.7rem; }
      .productform .section-container .inputtext input:focus {
        outline-color: transparent; }
    .productform .section-container .inputtext select {
      border-bottom: black 1px solid;
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 5px;
      margin-top: 20%; }
      .productform .section-container .inputtext select:focus {
        outline-color: transparent; }
    .productform .section-container .inputtext .btn-file {
      width: .1px;
      height: .1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .productform .section-container .inputtext .btn-file + label {
      display: inline-block;
      background: #8582f9;
      color: #fff;
      border-radius: 30px;
      padding: 9px;
      margin-top: 18%;
      margin-bottom: 0;
      text-align: center; }
    .productform .section-container .inputtext textarea {
      border-radius: 6px;
      border: 1px solid black;
      padding: 2rem; }

.productform .btn-action {
  margin-top: 2%; }

input[type=radio].css-radio {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=radio].css-radio + label.css-label-radio {
  padding-left: 35px;
  height: 23px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  color: #333; }

input[type=radio].css-radio:checked + label.css-label-radio {
  background-position: 0 -23px; }

label.css-label-radio {
  background-image: url("../img/checkbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input[type=radio].css-radio {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=radio].css-radio + label.css-label-radio {
  padding-left: 46px;
  height: 23px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer; }

input[type=radio].css-radio:checked + label.css-label-radio {
  background-position: 0 -23px; }

.header-pedido h1 {
  font-weight: bold; }

.header-pedido h5 {
  color: #7A7A7A; }

.header-pedido input {
  font-weight: bold;
  color: #000;
  border: none;
  padding: 10px; }

.btn-tipo-dash {
  background: #ffffff;
  color: #7A7A7A;
  border-radius: 30px;
  padding: 9px 33px;
  margin: 0 5px 0 10px;
  border: solid;
  border-color: #7a7a7a; }
  @media screen and (max-width: 768px) {
    .btn-tipo-dash {
      margin: 0.6rem 0; } }

.modal-content {
  border-radius: 25px; }
  .modal-content .modal-header {
    background-color: #8582f9;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }
    .modal-content .modal-header h3 {
      color: white; }
    .modal-content .modal-header .close {
      float: right;
      width: 2.5rem;
      height: 2rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      cursor: pointer;
      position: absolute;
      z-index: 9999;
      top: 0rem;
      left: 88vw;
      opacity: inherit; }
      .modal-content .modal-header .close .close-x {
        height: 3rem; }

.tabla-pedidos {
  margin-top: 3rem; }
  .tabla-pedidos h5 {
    color: #7A7A7A; }
  .tabla-pedidos .titulo h4 {
    font-weight: bold; }
  .tabla-pedidos .btn-dash {
    color: #7A7A7A;
    text-decoration: underline;
    position: relative;
    top: -15px; }
  @media screen and (max-width: 768px) {
    .tabla-pedidos .sendbtn {
      position: absolute; } }
  @media screen and (max-width: 768px) {
    .tabla-pedidos .col-xs-3, .tabla-pedidos .col-xs-2, .tabla-pedidos .col-xs-1, .tabla-pedidos .col-xs-12 {
      padding: 0 0.3rem; } }
  @media screen and (max-width: 768px) {
    .tabla-pedidos {
      padding: 0 0.5rem; } }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%; }
  @media screen and (max-width: 768px) {
    #loading {
      background-size: 55%; } }
  #loading .remain {
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    color: #09508e;
    bottom: 30%;
    left: 0;
    z-index: 100;
    width: 100%; }

.ajax-loader {
  height: 70vh;
  position: absolute;
  left: 29%;
  top: 10%;
  margin-left: 0;
  margin-top: 0;
  display: block; }
  @media screen and (max-width: 768px) {
    .ajax-loader {
      left: 0;
      top: 25%;
      width: 100%;
      height: auto; } }

@media screen and (max-width: 1024px) {
  .foto-home #svgdownkey {
    display: none; }
  .foto-home p {
    display: none; } }

@media screen and (min-width: 1024px) {
  .foto-home {
    background: url("/img/homeInstampa.png");
    background-size: 100vw 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0; }
    .foto-home .downkey {
      position: absolute;
      top: 90vh;
      left: 42vw;
      width: 58px; }
    .foto-home h2 {
      margin-top: 4%; }
    .foto-home .cuerdas-home {
      position: absolute;
      top: 12vh;
      background-color: transparent;
      height: 13vh;
      width: 80vw;
      left: 10vw;
      cursor: pointer; }
      .foto-home .cuerdas-home .tultip {
        display: none; }
    .foto-home .cuerdas-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .cuerdas-home:hover .tultip p {
        margin: 0; }
    .foto-home .marcos-home {
      position: absolute;
      top: 24vh;
      background-color: transparent;
      height: 50vh;
      width: 80vw;
      left: 10vw;
      cursor: pointer; }
      .foto-home .marcos-home .tultip {
        display: none; }
    .foto-home .marcos-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .marcos-home:hover .tultip p {
        margin: 0; }
    .foto-home .album-home {
      position: absolute;
      top: 70vh;
      background-color: transparent;
      height: 17vh;
      width: 11vw;
      left: 36vw;
      cursor: pointer; }
      .foto-home .album-home .tultip {
        display: none; }
    .foto-home .album-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .album-home:hover .tultip p {
        margin: 0; }
    .foto-home .caballetes-home {
      position: absolute;
      top: 72vh;
      background-color: transparent;
      height: 14vh;
      width: 6vw;
      left: 59vw;
      cursor: pointer; }
      .foto-home .caballetes-home .tultip {
        display: none; }
    .foto-home .caballetes-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .caballetes-home:hover .tultip p {
        margin: 0; }
    .foto-home .packete-home {
      position: absolute;
      top: 65vh;
      background-color: transparent;
      height: 11vh;
      width: 8vw;
      left: 43.5vw;
      cursor: pointer; }
      .foto-home .packete-home .tultip {
        display: none; }
    .foto-home .packete-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .packete-home:hover .tultip p {
        margin: 0; }
    .foto-home .postales-home {
      position: absolute;
      top: 71vh;
      background-color: transparent;
      height: 15vh;
      width: 7vw;
      left: 52vw;
      cursor: pointer; }
      .foto-home .postales-home .tultip {
        display: none; }
    .foto-home .postales-home:hover .tultip {
      display: block;
      color: #828282;
      margin: 0;
      background-color: #fff;
      height: auto;
      width: auto;
      position: fixed; }
      .foto-home .postales-home:hover .tultip p {
        margin: 0; } }

.dash-rows {
  border-bottom: solid;
  margin-bottom: 2rem;
  border-bottom-width: thin; }

.avaliable {
  background-image: url(../img/check.svg) !important;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.not {
  background-image: url(../img/not.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.saved {
  float: right; }

.numFotosMarcos {
  font-size: 20px; }

.ver-mas {
  text-decoration: underline; }

.max-fotos {
  font-size: 20px;
  font-weight: bold; }

.home-imprime {
  font-size: 1.2em;
  display: inline-block;
  background: #8582f9;
  color: #fff;
  border-radius: 30px;
  padding: 9px 50px 8px 70px;
  margin: 0 5px 0 10px;
  width: 250px;
  z-index: 99; }
  .home-imprime:hover {
    color: white !important; }
  @media screen and (max-width: 768px) {
    .home-imprime {
      width: 80%;
      display: none; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.usechrome {
  background-color: #8582f9;
  color: #fff;
  padding: 1rem 0;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    .usechrome {
      position: absolute;
      top: 90px; } }
  .usechrome p {
    padding-left: 0;
    margin-bottom: 0; }
  .usechrome a {
    color: #fff;
    font-weight: bold; }
  .usechrome .alertimage {
    vertical-align: middle;
    width: 2rem; }
  .usechrome .closebtn {
    position: absolute;
    vertical-align: middle;
    top: 10%;
    right: 1%;
    width: 2rem;
    cursor: pointer;
    margin-top: 0.5rem; }
    @media screen and (max-width: 768px) {
      .usechrome .closebtn {
        margin-right: 2rem; } }
