<!--product in products-->
<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row row-products">

        <div class="col-md-12 paddingbottom">
          <div class="col-md-3">
            <h3 ng-if="stateedition">{{newproduct.nombre}}</h3>
            <h3 ng-if="!stateedition">Nuevo Producto</h3>
          </div>
          <div class="col-md-offset-7 col-md-2">
            <a href="" class="btn-back text-center" ui-sref="products">
              <span class="iconsvg">
                <svg fill="#8582f9" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
                    <path d="M0-.5h24v24H0z" fill="none"/>
                </svg>
              </span>
              Volver
            </a>
          </div>
        </div>

        <div class="col-md-12 productform">
          <div class="col-md-12 section-container paddingbottom">
              <h4>Tipo de Producto</h4>
              <div ng-if="!stateedition" class="types" ng-repeat="type in productTypes">
                <input type="radio" class="css-radio radGroup1" ng-value="type.id" ng-model="newproduct.tipoproducto" id="{{type.id}}">
                <label for="{{type.id}}" class="css-label-radio">{{type.nombre}}</label>
              </div>
              <div ng-if="stateedition && newproduct.tipoproducto == type.id" class="types" ng-repeat="type in productTypes">
                <input type="radio" class="css-radio radGroup1" ng-value="type.id" ng-model="newproduct.tipoproducto" id="{{type.id}}">
                <label for="{{type.id}}" class="css-label-radio">{{type.nombre}}</label>
              </div>
          </div>

          <div class="col-md-12 section-container paddingbottom">
              <h4>Producto</h4>
              <div class="col-md-3 inputtext">
                <label for="nombre-producto">Nombre</label>
                <input type="text" ng-model="newproduct.nombre" id="nombre-producto">
              </div>
              <div class="col-md-3 inputtext">
                <label for="descripcion-producto">Descripción</label>
                <input type="text" ng-model="newproduct.descripcion" id="descripcion-producto">
              </div>
              <div class="col-md-2 inputtext">
                <label for="fotos-producto">Número de fotos</label>
                <input type="number" min="0" ng-model="newproduct.fotos" id="fotos-producto">
              </div>
              <div class="col-md-2 inputtext">
                <label for="precio-producto">Precio</label>
                <input type="number" min="0" ng-model="newproduct.precio" id="precio-producto">
              </div>
          </div>

          <div ng-if="newproduct.tipoproducto == 2 || newproduct.tipoproducto == 3 || newproduct.tipoproducto == 4" class="col-md-12 section-container paddingbottom">
              <h4>Variables del Producto</h4>
              <input type="hidden" ng-model="newproduct.accesorio[$index].id" ng-value="newproduct.accesorio[$index].id">
              <div class="col-md-offset-2 col-md-10" ng-if="accesories.length == 0">
                <a href="" class="btn-blue text-center" ng-click="addAccesory()">Agregar variable</a>
              </div>
              <div class="col-md-12 accesories" ng-repeat="accesory in accesories" ng-if="accesories.length > 0">
                <div ng-if="newproduct.tipoproducto == 2 || newproduct.tipoproducto == 3" class="col-md-1 inputtext">
                  <label for="accesorio{{$index}}-producto-tipo">Tipo</label>
                  <select id="accesorio{{$index}}-producto-tipo" ng-model="newproduct.accesorio[$index].tipo" ng-value="newproduct.accesorio[$index].tipo">
                    <option value="3" ng-selected="newproduct.accesorio[$index].tipo == 3">Color</option>
                  </select>
                </div>
                <div ng-if="newproduct.tipoproducto == 4" class="col-md-1 inputtext">
                  <label for="accesorio{{$index}}-producto-tipo">Tipo</label>
                  <select id="accesorio{{$index}}-producto-tipo" ng-model="newproduct.accesorio[$index].tipo" ng-value="newproduct.accesorio[$index].tipo">
                    <option value="1" ng-selected="newproduct.accesorio[$index].tipo == 1">Cuerda</option>
                    <option value="2" ng-selected="newproduct.accesorio[$index].tipo == 2">Pinzas</option>
                  </select>
                </div>
                <div class="col-md-2 inputtext">
                  <label for="accesorio{{$index}}-producto-nombre">Nombre</label>
                  <input type="text" ng-model="newproduct.accesorio[$index].nombre" id="accesorio{{$index}}-producto-nombre">
                </div>
                <div class="col-md-2 inputtext">
                  <label for="accesorio{{$index}}-producto-color">Color</label>
                  <input type="text" ng-model="newproduct.accesorio[$index].color" id="accesorio{{$index}}-producto-color">
                </div>
                <div class="col-md-2 inputtext">
                  <label for="accesorio{{$index}}-producto-colorcode">Código HEX</label>
                  <input type="text" ng-model="newproduct.accesorio[$index].color_code" id="accesorio{{$index}}-producto-colorcode">
                </div>
                <div class="col-md-3 inputtext">
                  <label for="accesorio{{$index}}-producto-detalle">Detalle</label>
                  <input type="text" ng-model="newproduct.accesorio[$index].detalle" id="accesorio{{$index}}-producto-detalle">
                </div>
                <div ng-if="newproduct.tipoproducto != 4" class="col-md-2 inputtext">
                  <input class="btn-file" type="file" id="file-accesorio{{$index}}" ngf-select="vm.upload()" accept="image/*" ngf-resize="{width: 500, height: 500, centerCrop: true}"
                    ngf-multiple="true" ng-model="newproduct.accesorio[$index].fileaccesorio">
                  <label class="btn-add-file" for="file-accesorio{{$index}}">Imagen variable</label>
                </div>
                <div class="add-btn" ng-if="accesories.length == $index+1">
                  <a href="" ng-click="addAccesory()">
                    <svg fill="#8582f9" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                    </svg>
                  </a>
                </div>
                <div class="remove-btn" ng-if="$index > 0 || accesories.length == $index+1">
                  <a href="" ng-click="removeAccesory($index)">
                    <svg fill="#8582f9" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </a>
                </div>
              </div>
              <div ng-bind-html="msg" class="col-md-12" style="color:red;"></div>
          </div>

          <div class="col-md-12 section-container paddingbottom">
              <h4>Costos de Envío</h4>
              <div class="col-md-2 inputtext" ng-repeat="price in priceshipping">
                <label for="costoenvio-producto[$index]">{{price.zona}}</label>
                <input type="number" min="0" ng-model="newproduct.costoenvio[$index].precio" ng-value="price.precio" id="costoenvio-producto[$index]">
                <input type="hidden" ng-model="newproduct.costoenvio[$index].id" ng-value="price.id">
              </div>
          </div>

          <div class="col-md-3 btn-action">
            <a ng-if="stateedition" href="" class="btn-blue text-center" ng-click="editProduct()">Editar producto</a>
            <a ng-if="!stateedition" href="" class="btn-blue text-center" ng-click="createProduct()">Crear producto</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
