<!-- packetesFotosduct in products-->
<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row row-products">

        <div class="col-md-12 paddingbottom">
          <h3>Productos.</h3>
        </div>

        <div class="col-md-12">
          <div class="col-md-3 text-center border-right">
            <a href="" class="btn-type text-center" ng-class="{typeactive : idSelectedType == type.id}" ng-repeat="type in productTypes" ng-click="selectType(type.id)">{{type.nombre}}</a>
            <a href="" class="btn-type text-center" ng-class="{typeactive : idSelectedType == idempaques}" ng-click="selectType(idempaques)">Empaques</a>
            <div class="line-div"></div>
            <a href="" class="btn-blue text-center" ui-sref="createProduct">Crear producto</a>
            <a href="" class="btn-blue text-center" ui-sref="createPacking">Crear Empaque</a>
          </div>
          <div class="col-md-9">
            <div class="col-md-12 products-list-head">
              <div class="col-md-3"><h4>Producto</h4></div>
              <div class="col-md-4"><h4>Descripción</h4></div>
              <div class="col-md-3"><h4>Estado</h4></div>
            </div>

            <div class="col-md-12 products-list" ng-repeat="product in products">
              <div class="col-md-3">{{product.nombre}}</div>
              <div class="col-md-4">{{product.descripcion}}</div>
              <div class="col-md-3">
                <div ng-class="{avaliable : product.habilitado}" class="habilitado not" ng-click="changeEstatus(product.id, product.habilitado, isempaque)"></div>
              </div>

              <div class="col-md-2 product-controls" ng-if="isempaque">
                <div class="control edit">
                  <a href="" ui-sref="editPacking({idproducto:product.id})">
                    <svg fill="#ffffff" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </a>
                </div>
                <div class="control delete">
                  <a href="" ng-click="deletePack(product.id)">
                    <svg fill="#FFFFFF" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </a>
                </div>
              </div>

              <div class="col-md-2 product-controls" ng-if="!isempaque">
                <div class="control edit">
                  <a href="" ui-sref="editProduct({idproducto:product.id})">
                    <svg fill="#ffffff" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </a>
                </div>
                <div class="control delete">
                  <a href="" ng-click="deleteProduct(product.id)">
                    <svg fill="#FFFFFF" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
