<div class="container header-pedido" style="margin-top: 2rem;">
  <h1>Pedidos</h1>
  <h5>{{pedidos.length}} pedidos</h5>
  <a href="" class="btn-tipo-dash col-md-2 col-xs-12 text-center" ng-class="{typeactive: todosFilter}" ng-click="filterType('todos')">Todos</a>
  <a href="" class="btn-tipo-dash col-md-2 col-xs-12 text-center" ng-class="{typeactive: entregadosFilter}" ng-click="filterType('entregados')">Entregados</a>
  <a href="" class="btn-tipo-dash col-md-2 col-xs-12 text-center" ng-class="{typeactive: pendientesFilter}" ng-click="filterType('pendientes')">Pendientes</a>
  <a href="" class="btn-tipo-dash col-md-2 col-xs-12 text-center" ng-class="{typeactive: aprobadosFilter}" ng-click="filterType('aprobados')">Aprobados</a>
  <input class="col-md-2 col-xs-12 text-center" type="month" ng-model="fechaFiltro">
</div>
<div class="container tabla-pedidos">
  <div class="col-md-3 col-xs-3 titulo">
    <h4>Referencia</h4>
  </div>
  <div class="col-md-3 col-xs-3 titulo">
    <h4>Contacto</h4>
  </div>
  <div class="col-md-3 col-xs-3 titulo">
    <h4>Producto</h4>
  </div>
  <div class="col-md-1 col-xs-1 titulo">
    <h4>Valor</h4>
  </div>
  <div class="col-md-1 col-xs-1 titulo">
    <h4>Estado</h4>
  </div>
  <div class="dash-rows" ng-repeat="pedido in pedidos | filter: estado | DateFilter: fechaFiltro">
    <div class="col-md-3 col-xs-2">
      <h5>
        {{pedido.fecharecepcion | date:'yyyy-MM-dd'}}-{{pedido.id}}
      </h5>
      <h5 ng-if="pedido.envioexpress">
        Envio express
      </h5>
    </div>
    <div class="col-md-2 col-xs-2">
      <h5>
        {{pedido.nombre}}
      </h5>
      <a href="" class="btn-dash" ng-click="selectPedido(pedido);openUserModal();">Ver detalles</a>
    </div>
    <div class="col-md-3 col-xs-2">
      <div class="col-md-12" ng-repeat="producto in pedido.productosPedido">
        <h5>
          {{producto.productopedido_producto.nombre}}
        </h5>
        <a href="" class="btn-dash" ng-click="selectProduct(producto); selectPedido(pedido); openProductModal();">Ver detalles</a>
      </div>
    </div>
    <div class="col-md-1 col-xs-1">
      <h5>
        {{pedido.total | currency }}
      </h5>
      <a href="" class="btn-dash" ng-click="selectPedido(pedido);openCostModal();">Ver detalles</a>
    </div>
    <div class="col-md-1 col-xs-1">
      <h5>
        {{pedido.estado}}
      </h5>
    </div>
    <div class="col-md-1 col-xs-1">
      <a href="" ng-if="pedido.estado == 'Aprobado'" ng-click="entregarPedido(pedido.id, pedido.id_user, pedido.nombre)">
        <i class="material-icons">send</i>
      </a>
    </div>
    <div class="col-md-1 col-xs-1">
      <a href="" ng-click="borrarPedido(pedido.id)">
        <svg fill="#8582f9" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    </div>
    <div class="clearfix">

    </div>
  </div>
</div>
