<div class="container header-pedido" style="margin-top: 2rem;">
  <h1>Pedidos</h1>
  <h5>{{pedidos.length}} pedidos</h5>
  <a href="" class="btn-tipo-dash col-xs-12 text-center" ng-class="{typeactive: todosFilter}" ng-click="filterType('todos')">Todos</a>
  <a href="" class="btn-tipo-dash col-xs-12 text-center" ng-class="{typeactive: entregadosFilter}" ng-click="filterType('entregados')">Entregados</a>
  <a href="" class="btn-tipo-dash col-xs-12 text-center" ng-class="{typeactive: pendientesFilter}" ng-click="filterType('pendientes')">Pendientes</a>
  <a href="" class="btn-tipo-dash col-xs-12 text-center" ng-class="{typeactive: aprobadosFilter}" ng-click="filterType('aprobados')">Aprobados</a>
  <input class="col-xs-12 text-center" type="month" ng-model="fechaFiltro">
</div>
<div class="container tabla-pedidos">
  <div class="col-xs-2 titulo text-center">
    <h4>Refer.</h4>
  </div>
  <div class="col-xs-2 titulo text-center">
    <h4>Cont.</h4>
  </div>
  <div class="col-xs-3 titulo text-center">
    <h4>Prod.</h4>
  </div>
  <div class="col-xs-3 titulo text-center">
    <h4>$$$</h4>
  </div>
  <div class="col-xs-1 titulo text-center">
    <h4>Est.</h4>
  </div>
  <div class="dash-rows" ng-repeat="pedido in pedidos | filter: estado | DateFilter: fechaFiltro">
    <div class="col-xs-2 text-center">
      <h5>
        {{pedido.fecharecepcion | date:'yyyy-MM-dd'}}-{{pedido.id}}
      </h5>
      <h5 ng-if="pedido.envioexpress">
        Express
      </h5>
    </div>
    <div class="col-xs-2 text-center">
      <h5>
        {{pedido.nombre}}
      </h5>
      <a href="" class="btn-dash" ng-click="selectPedido(pedido);openUserModal();">Ver detalles</a>
    </div>
    <div class="col-xs-3 text-center">
      <div class="col-xs-12" ng-repeat="producto in pedido.productosPedido">
        <h5>
          {{producto.productopedido_producto.nombre}}
        </h5>
        <a href="" class="btn-dash" ng-click="selectProduct(producto); selectPedido(pedido); openProductModal();">Ver detalles</a>
      </div>
    </div>
    <div class="col-xs-3 text-center">
      <h5>
        {{pedido.total | currency }}
      </h5>
      <a href="" class="btn-dash" ng-click="selectPedido(pedido);openCostModal();">Ver detalles</a>
    </div>
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <h5>{{pedido.estado | limitTo: 4}}</h5>
      </div>
      <div class="col-xs-12">
        <a class="sendbtn" href="" ng-if="pedido.estado == 'Aprobado'" ng-click="entregarPedido(pedido.id, pedido.id_user, pedido.nombre)">
          <i class="material-icons">send</i>
        </a>
      </div>
    </div>
      
    <div class="clearfix">

    </div>
  </div>
</div>
