  <footer class="text-center" style="clear: both;
    margin-top: 10vh;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    z-index: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav-footer list-inline">
            <li><a ui-sref="home">Productos</a></li>
            <li><a ui-sref="galeria">Galería</a></li>
            <li><a href="http://blog.instampa.co" target="_blank">Blog</a></li>
            <li><a ui-sref="contacto">Contáctenos</a></li>
            <li><a ui-sref="checkout">Carrito</a></li>
            <li><a href="" ui-sref="politicas({idpolitica:1})" target="_blank">Terminos y Condiciones</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="copyright">
            <ul class="list-inline">
            <li><span>© 2017 Instampa. All rights reserved.</span></li>
            </ul>
          </div>
          <div class="codesign">Developed by <a href="http://estudiocodesign.com" target="_blank">Estudio Codesign</a> ft. <a href="http://bgt404.com" target="_blank">Bgt:404</a></div>
        </div>
      </div>
    </div>
  </footer>
</div>
