<div class="main" ng-controller="HeaderController as vm">
  <!-- burger -->
  <div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
    <!-- mobile -->
    <ul class="nav navbar-nav" style="margin-top: 10rem;">
      <li><a ng-click="isNavCollapsed = !isNavCollapsed" ui-sref="home" class="active">Productos</a></li>
      <li><a ng-click="isNavCollapsed = !isNavCollapsed" ui-sref="galeria">Galería</a></li>
      <li><a ng-click="isNavCollapsed = !isNavCollapsed" href="http://blog.instampa.co" target="_blank">Blog</a></li>
      <li><a ng-click="isNavCollapsed = !isNavCollapsed" ui-sref="contacto()">Contáctanos</a></li>
      <li><a ng-click="isNavCollapsed = !isNavCollapsed" ui-sref="checkout()">Carrito</a></li>
      <li>
        <a href="" ng-click="vm.authService.login()" ng-if="!isAuthenticated">Log In</a>
      </li>
      <li><a ui-sref="dashboard" ng-if="isAuthenticated && isAdmin">Administrar Pedidos</a></li>
      <li><a ui-sref="categories" ng-if="isAuthenticated && isAdmin">Categorías</a></li>
      <li><a ui-sref="products" ng-if="isAuthenticated && isAdmin">Productos</a></li>
      <li><a ui-sref="policy" ng-if="isAuthenticated && isAdmin">Políticas</a></li>
      <li><a href="" ng-click="vm.authService.logout()" ng-if="isAuthenticated">Salir</a></li>
      <li class="social">
        <a ng-click="isNavCollapsed = !isNavCollapsed" href="https://www.facebook.com/instampa.fotografia/" target="_blank" class="facebook"><i>Facebook</i></a>
      </li>
      <li>
        <a ng-click="isNavCollapsed = !isNavCollapsed" href="https://www.instagram.com/instampa.fotografia/" target="_blank" class="instagram"><i>Instagram</i></a>
      </li>
    </ul>
  </div>
  <header>
    <div class="icon-menu"><i></i></div>
    <div class="top-menu">
      <div class="container">
        <div class="col-md-2">
          <div class="col-md-3" style="z-index: 999;">
            <a href="" class="js-nav-toggle nav-toggle navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed"><i></i></a>
          </div>
          <div class="col-md-6 text-center">
            <a href="#" class="cont-logo lol">
              <img src="../img/logo.svg" alt="INSTAMPA" class="logo">
            </a>
          </div>
          <div class="col-md-3 social-device">
            <a ui-sref="checkout()" class="cart"><i></i></a>
          </div>
        </div>
        <div class="col-md-8 text-right menu-1" style="float: right;">
          <nav>
            <!-- desktop -->
            <ul class="navigation">
              <li><a ui-sref="productos" class="active">Productos</a></li>
              <li><a href="" ui-sref="galeria">Galería</a></li>
              <li><a href="http://blog.instampa.co" target="_blank">Blog</a></li>
              <li><a ui-sref="contacto">Contáctanos</a></li>
              <li><a ui-sref="checkout">Carrito</a></li>
              <li>
                <a class="btn-login" href="" ng-click="vm.authService.login()" ng-if="!isAuthenticated">Log In</a>
              </li>
              <li class="social">
                <a href="https://www.facebook.com/instampa.co" target="_blank" class="facebook"><i></i></a>
                <a href="https://www.instagram.com/instampa.co" target="_blank" class="instagram"><i></i></a>
                <span uib-dropdown ng-if="isAuthenticated">
                  <a href="" uib-dropdown-toggle id="user-dropdown" style="color:#8582f9;">{{vm.profile.given_name}}</a>
                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="user-dropdown">
                    <li ui-sref="dashboard" ng-if="isAdmin" >Administrar Pedidos</li>
                    <li ng-if="isAdmin" ui-sref="categories">Categorías</li>
                    <li ng-if="isAdmin" ui-sref="products">Productos</li>
                    <li ng-if="isAdmin" ui-sref="policy">Políticas</li>
                    <li ng-click="vm.authService.logout()">Salir</li>
                  </ul>
                </span>
                <img class="profile-pic" ng-src="{{ vm.profile.picture }}" ng-if="isAuthenticated">
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
    <div class="icon-cart"><i></i></div>
  </header>
  <div class="bar-header"></div>
  <div class="menu-device hidden">

  </div>
</div>
