<div id="loading" ng-if="loading" style="background-image:url('../../../../img/cargando600.gif')">
  <div class="remain text-center">{{ subidas }} / {{fotosUser.length}} fotos</div>
</div>

<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="80"></uib-progressbar>
        </div>
        <div class="col-md-12">
          <h3 ng-if="fotos.length == 1" class="title-product">Sube tu foto.</h3>
          <h3 ng-if="fotos.length > 1" class="title-product">Sube tus fotos.</h3>
        </div>
        <div class="text-center">
          <p ng-if="fotos.length>10" class="max-fotos">Te recomendamos subir máximo 10 fotos por tanda</p>
        </div>
        <div class="container-photos">
          <div class="col-md-{{cel}}" ng-repeat="i in fotos">
            <div class="polaroid" style="width: 78%;">
              <a ng-if="fotosUser[$index]" ng-click="delete($index)" class="delete">
                <img src="../../../../img/xwhite.svg">
              </a>
              <img class="polaroidimage" ng-src="../../../../img/{{polaroid}}">
              <div class="fotos-agregadas" ng-class="{'crophorizontal' : fotosUser[$index].width >= fotosUser[$index].height, 'cropvertical' : fotosUser[$index].height > fotosUser[$index].width}">
                <img ngf-thumbnail="fotosUser[$index] || '/img/instampa_placeholder.svg'">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <p>Antes de imprimir, Nosotros CENTRAMOS y AJUSTAMOS las fotos al espacio de impresión.</p>
        </div>
        <div class="col-md-12 fotos-controller text-center">
          <div class="col-md-2">
            <a ng-click="goBack()" class="btn-volver text-center">
              <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" />
              </svg>
            </a>
          </div>
          <div class="col-md-2 btn-add">
            <input class="btn-green" type="file" id="file" ngf-select="vm.upload()" ngf-accept="'image/*'" ngf-min-width="1" ngf-min-height="1"
              ngf-multiple="true" ng-model="files">
            <label class="btn-add-file" for="file">Agrega fotos</label>
          </div>
          <div ng-if="producttype != 6" class="col-md-3 tipo-foto" style="padding: 0px;">
            <span class="labelvalor">Formato foto </span>
            <input type="checkbox" class="css-checkbox" id="format" ng-model="format" name="" ng-change="changeFormato(format)">
            <label for="format" class="css-label-check"></label>
          </div>
          <div class="col-md-3 precio-fotos">
            <label class="labelvalor">Valor total</label>
            <span class="valor text-center" ng-model="product.precio">{{product.precio | currency:'COP' : 0}}</span>
          </div>
          <div class="col-md-2">
            <a href="" class="btn-continuar text-center" ng-click="continue(format, product.precio)">Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
