<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="40"></uib-progressbar>
        </div>
        <div class="col-md-12" style="display: flex;">
          <h3 class="title-product">Haz clic en sube tus fotos</h3>
          <div class="container-disclaimer">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
              <div class="col-md-5 info-disclaimer">
                <img ng-src="{{disclaimer.imagen}}">
                <p ng-bind-html="disclaimer.disclaimer"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <a href="http://blog.instampa.co/albumes/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div class="container-photos">

          <div class="col-md-12 col-xs-12 text-center">
            <img class="text-center" style="width: 80%" ng-src="{{selectedProduct.product.imagen}}">
          </div>

        </div>
        <div class="clearfix"></div>

        <div class="col-md-offset-4 col-md-5" style="margin-left: 39%;">
          <a href="" class="btn-continuar text-center" ng-click="continue(selectedProduct.product)">Sube tus fotos</a>
        </div>

      </div>
    </div>
  </div>
</div>
