<div id="loading" ng-if="loading" style="background-image:url('../../../../img/cargando600.gif')"></div>
<!--product in products-->
<div class="cont-content" ng-model="pedido">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-12 text-center">
        <ul class="menuproducts">
          <li class="col-md-2" ng-repeat="tipo in tipos">
            <a ui-sref="products({idtipoproducto:tipo.id})">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="paddingbottom">
          <uib-progressbar value="100"></uib-progressbar>
        </div>
        <div>
          <h3 class="title-product">Checkout</h3>
        </div>
        <hr>

        <div class="productos-carrito text-center" ng-if="carrito.length == 0">
          <p>No hay productos en el carrito</p>
        </div>
        <div class="content-cart">
          <div class="productos-carrito" ng-repeat="car in carrito">
            <div class="col-xs-12" style="padding-right: 0;">
              <div class="producto">
                <span class="col-xs-10 titulo" style="font-weight: 600;color: black;">{{ car.product.nombre }}</span>
                <span class="col-xs-2">
                  <a href="" ng-click="delete($index, departamento)" class="deleteCheckout">
                    <img src="../../../../img/xpurple.svg">
                  </a>
                </span>
                <span class="col-xs-4 titulo">Descripción:</span>
                <span class="col-xs-8 descripcion">{{ car.product.descripcion }}</span>
                <span class="col-xs-4 titulo">Num fotos:</span>
                <span class="col-xs-8 descripcion">{{ car.product.numfotos }} fotos</span>
                <span class="col-xs-4 titulo">Formato:</span>
                <span class="col-xs-8 descripcion">{{ car.format }}</span>
              </div>
              <div class="producto" ng-if="car.color.length != 0">
                <span class="col-xs-12 titulo">Colores:</span>
                <div ng-repeat="color in car.color" ng-init="index">
                  <span class="col-xs-offset-4 col-xs-8 descripcion">{{color.detalle}}</span>
                </div>
              </div>
              <div class="producto" ng-if="car.paquete">
                <span class="col-xs-4 titulo">Empaque: </span>
                <span class="col-xs-8 descripcion">{{ car.paquete.nombre }} </span>
                <span class="col-xs-offset-4 col-xs-8 descripcion">{{ car.paquete.descripcion }}</span>
                <span class="col-xs-12 titulo">Color de empaque: </span>
                <span class="col-xs-offset-4 col-xs-8 descripcion">{{ car.paquete.color }}</span>
              </div>
              <div class="costo">
                <div class="col-xs-12 precio">
                  {{ car.preciototal | currency : COP }}
                </div>
              </div>
            </div>

            <hr>

          </div>
        </div>
        <div class="col-xs-12 formulario-pago">
          <div class="titulo">
            <h3 class="title-product">Datos para Pago y Envío</h3>
          </div>

          <div class="col-xs-12 text-center container-disclaimer" ng-click="displayDisclaimer(true)">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
            </div>
          </div>


          <div ng-if="disclaimer_active == true" class="col-md-11 info-disclaimer" style="padding-top: 2rem;left: 4vw;">
            <a ng-click="displayDisclaimer(false)" class="close-disclaimer">
              <img src="../../../../img/xwhite.svg" class="close-x">
            </a>
            <p>*Los envíos se demoran de 3 a 5 días hábiles.<br> *Envío express: Bogotá 5.000; Otras ciudades: 10.000 adicionales
              al precio del envío corriente).</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 formulario">
        <form name="checkoutform">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre y Apellido *</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre y Apellido" ng-model="pedido.nombre" name="nombre" required>
          </div>
          <div class="form-group col-md-6">
            <label for="id_user">Correo Electrónico *</label>
            <input type="email" class="form-control" id="id_user" placeholder="Correo Electrónico" ng-model="pedido.id_user" name="id_user" required>
          </div>
          <div class="form-group col-md-6">
            <label for="bday">Fecha de Cumpleaños</label>
            <input type="text" class="form-control" id="bday" placeholder="Fecha de Cumpleaños" ng-model="pedido.bday" name="bday">
          </div>
          <div class="form-group col-md-6">
            <label for="celular">Celular *</label>
            <input type="number" class="form-control" id="celular" placeholder="Celular" ng-model="pedido.telefono" name="telefono" required max="9999999999">
          </div>
          <div class="form-group col-md-6">
            <label for="cedula">Cédula *</label>
            <input type="number" class="form-control" id="cedula" placeholder="Cédula" ng-model="pedido.cedula" name="cedula" required>
          </div>
          <div class="form-group col-md-6">
            <label for="direccion">Departamento *</label>
            <select class="form-control" ng-options="departament as departament.departamento for departament in departaments" ng-init="departamento=departaments[0]"
              ng-model="departamento" ng-change="changeDep(departamento)"  name="departamento" required></select>
          </div>
          <div class="form-group col-md-6">
            <label for="direccion">Ciudad de Envío *</label>
            <select class="form-control" ng-options="ciudad as ciudad for ciudad in ciudades" ng-model="pedido.ciudad" ng-init="ciudades=departamento.ciudades;pedido.ciudad=ciudades[0]" name="ciudad" required></select>
          </div>
          <div class="form-group col-md-6">
            <label for="direccion">Dirección *</label>
            <input type="text" class="form-control" id="direccion" placeholder="Dirección" ng-model="pedido.direccion" name="direccion" required>
          </div>
          <div class="form-group col-md-6">
            <label for="dirEnvio">Dirección envío *</label>
            <input type="text" class="form-control" id="dirEnvio" placeholder="Dirección envío" ng-model="pedido.direccionenvio" name="direccionenvio" required>
          </div>
          <div class="form-group col-md-6 checkbox-policy-mobile">
            <div class="checkbox">
              <label>
                  <input type="checkbox" ng-model="pedido.policy0" name="policy0" ng-required="politicas[0].obligatorio"><a ui-sref="politicas({idpolitica:politicas[0].id})" ng-bind-html="politicas[0].nombre"></a>
                </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox" ng-model="pedido.policy1" name="policy1" ng-required="politicas[1].obligatorio"><a ui-sref="politicas({idpolitica:politicas[1].id})" ng-bind-html="politicas[1].nombre"></a>
                </label>
            </div>
          </div>
          <div class="form-group col-md-6" ng-show="pedido.policy1">
            <label for="Instagram">Usuario Instagram</label>
            <input type="text" class="form-control" id="Instagram" placeholder="@instampa.co" ng-model="pedido.instagram">
          </div>
          <div class="form-group col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="envioexpress" ng-change="envioExpress(departamento)">Envío Express (*)
              </label>
              <div ng-if="envioexpress" style="margin-top: 1.5rem;font-size: 1.1rem;color: white;">* El envío express tiene <b>costo adicional</b> dependiendo de la zona de envio (Bogotá: 10.000; Otras ciudades: 18.000 adicionales al precio del envío corriente).</div>
            </div>
          </div>
          <input type="submit" id="submitcheckout" value="checkout" style="display:none;" />
        </form>
      </div>

      <div class="col-xs-12">
        <div ng-if="carrito.length != 0" class="row total">
          <div class="col-xs-12 precio">
            <div class="col-xs-8">
              <span>Subtotal</span>
            </div>
            <div class="col-xs-4">
              {{ totalprice | currency : COP : 0 }}
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-8">
              <span>Costo Envio</span>
            </div>
            <div class="col-xs-4">
              {{ shipingPrice | currency : COP : 0 }}
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-8">
              <span>IVA</span>
            </div>
            <div class="col-xs-4">
              {{ ivaSubtotal | currency : COP : 0 }}
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-8">
              <span>Total</span>
            </div>
            <div class="col-xs-4">
              {{ totalprice + ivaSubtotal + shipingPrice | currency : COP : 0 }}
              <!--{{ (subtotal_payU*iva) + totalprice + shipingPrice | currency : COP : 0 }}-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 metodo-pago">
        <a ng-click="saveDatos(pedido)" ui-sref="home()" class="btn-continuar-comprando text-center" href="">Guarda y sigue comprando</a>
      </div>

      <div class="col-xs-12 metodo-pago" style="margin-bottom: 1rem;">
        <a class="btn-continuar-comprando text-center" ng-click="vm.authService.login(); saveDatos(pedido)" ng-if="!isAuthenticated">Ingresa para pagar</a>
        <a class="btn-continuar-comprando text-center" ng-click="clickPayUForm()" ng-if="isAuthenticated && checkoutform.$valid && departamento.id && pedido.ciudad">Pagar con PayU</a>
        <a class="btn-continuar-comprando text-center" ng-if="isAuthenticated && checkoutform.$valid && !departamento.id && pedido.ciudad == '---' || isAuthenticated && checkoutform.$valid && !departamento.id && !pedido.ciudad || isAuthenticated && !checkoutform.$valid" style="background: rgba(37, 189, 231, 0.48);">Pagar con PayU</a>
      </div>

    </div>
  </div>

</div>


<form id="payUform" method="post" hidden action="https://gateway.payulatam.com/ppp-web-gateway/">
  <input name="merchantId" type="hidden" ng-model="payuForm.merchantId" ng-value="payUData.merchantId">
  <input name="accountId" type="hidden" ng-model="payuForm.accountId" ng-value="payUData.accountId">
  <input name="description" type="hidden" ng-model="payuForm.description" ng-value="description">
  <input name="referenceCode" type="hidden" ng-model="payuForm.referenceCode" ng-value="referenceCode">
  <input name="amount" type="hidden" ng-model="payuForm.amount" ng-value="total">
  <input name="tax" type="hidden" ng-model="payuForm.tax" ng-value="ivaSubtotal">
  <input name="taxReturnBase" type="hidden" ng-model="payuForm.taxReturnBase" value="0">
  <input name="currency" type="hidden" ng-model="payuForm.currency" value="COP">
  <input name="signature" type="hidden" ng-model="payuForm.signature" ng-value="signature">
  <input name="test" type="hidden" ng-model="payuForm.test" ng-value="payUData.test">
  <input name="buyerEmail" type="hidden" ng-model="payuForm.buyerEmail" ng-value="profile.email">
  <input name="responseUrl" type="hidden" ng-model="payuForm.responseUrl" value="http://instampa.co/#/response/">
  <input name="confirmationUrl" type="hidden" ng-model="payuForm.confirmationUrl" value="http://50.116.42.23/confirm.php">
  <input name="shipphingAddress" type="hidden" ng-model="payuForm.shipphingAddress" ng-value="pedido.direccionenvio">
  <input name="shipphingCity" type="hidden" ng-model="payuForm.shipphingCity" ng-value="pedido.ciudad">
  <input name="shipphingCountry" type="hidden" ng-model="payuForm.shipphingCountry" value="Colombia">
  <input name="extra1" type="hidden" ng-model="payuForm.extra1" ng-value="referenceCode">
</form>
