<div class="cont-products">
  <div class="container paddingbottom">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-8 col-md-offset-2 text-center paddingbottom">
        <h3 class="title-product" ng-bind-html="politica.nombre"></h3>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p ng-bind-html="politica.descripcion"></p>
      </div>
      
      <div class="col-md-12 fotos-controller text-center">
        <div class="col-md-2 col-xs-2">
          <a ui-sref="checkout()" class="btn-volver text-center">
            <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" />
            </svg>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
