<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row row-products">

        <div class="col-md-12 paddingbottom">
          <div class="col-md-3">
            <h3>Políticas.</h3>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-9">
          <div class="col-md-12 productform">

            <div class="col-md-12 section-container paddingbottom">
              <div class="col-md-12 inputtext paddingbottom">
                <input type="text" ng-model="politicaedit.nombre" ng-value="policy[0].nombre" size="100">
              </div>
              <h4>Descripción</h4>
              <div class="col-md-12 inputtext paddingbottom">
                <textarea rows="10" ng-model="politicaedit.descripcion" ng-bind-html="policy[0].descripcion"></textarea>
              </div>
              <h4>Obligatorio</h4>
              <div class="col-md-8">
                <div class="types">
                  <input type="radio" class="css-radio radGroup1" value="1" ng-model="policy[0].obligatorio" id="obligatorio0{{policy[0].id}}">
                  <label for="obligatorio0{{policy[0].id}}" class="css-label-radio">Si</label>
                </div>
                <div class="types">
                  <input type="radio" class="css-radio radGroup1" value="0" ng-model="policy[0].obligatorio" id="obligatorio1{{policy[0].id}}">
                  <label for="obligatorio1{{policy[0].id}}" class="css-label-radio">No</label>
                </div>
              </div>
              <div class="col-md-4">
                <a href="" class="btn-blue text-center" ng-click="editPolicy(policy[0].id, 1)">Editar Política</a>
              </div>
            </div>

            <div class="col-md-12 section-container paddingbottom">
              <div class="col-md-12 inputtext paddingbottom">
                <input type="text" ng-model="politicaedit2.nombre" ng-value="policy[1].nombre" size="100">
              </div>
              <h4>Descripción</h4>
              <div class="col-md-12 inputtext paddingbottom">
                <textarea rows="10" ng-model="politicaedit2.descripcion" ng-bind-html="policy[1].descripcion"></textarea>
              </div>
              <h4>Obligatorio</h4>
              <div class="col-md-8">
                <div class="types">
                  <input type="radio" class="css-radio radGroup1" value="1" ng-model="policy[1].obligatorio" id="obligatorio0{{policy[1].id}}">
                  <label for="obligatorio0{{policy[1].id}}" class="css-label-radio">Si</label>
                </div>
                <div class="types">
                  <input type="radio" class="css-radio radGroup1" value="0" ng-model="policy[1].obligatorio" id="obligatorio1{{policy[1].id}}">
                  <label for="obligatorio1{{policy[1].id}}" class="css-label-radio">No</label>
                </div>
              </div>
              <div class="col-md-4">
                <a href="" class="btn-blue text-center" ng-click="editPolicy(policy[1].id, 2)">Editar Política</a>
              </div>
            </div>

          </div>          
        </div>

      </div>
    </div>
  </div>
</div>
