<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-xs-9 paddingbottom">
          <uib-progressbar value="40"></uib-progressbar>
        </div>
        <div class="col-xs-12 paddingbottom" style="display: flex;">
          <h3 class="title-product">Escoge el Kit que deseas.</h3>
          <div class="text-center open-disclaimer" ng-click="displayDisclaimer(true)">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
          <a href="http://blog.instampa.co/caballetes/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div ng-if="disclaimer_active == true" class="col-md-11 info-disclaimer">
          <a ng-click="displayDisclaimer(false)" class="close-disclaimer">
            <img src="../../../../img/xwhite.svg" class="close-x">
          </a>
          <div class="content-img">
            <img ng-src="{{disclaimer.imagen}}">
          </div>
          <p ng-bind-html="disclaimer.disclaimer"></p>
        </div>

        <div class="col-xs-12 paddingbottom">
          <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4 text-center prod-control" ng-init="id = 0">
            <div ng-click="prevProduct(idproduct, productsComplete.length)" class="nav-prod prev"><</div>
            <p>{{selectedProduct.product.descripcion}}</p>
            <div ng-click="nextProduct(idproduct, productsComplete.length)" class="nav-prod next">></div>
          </div>
          <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-md-offset-4 col-md-4 text-center" style="margin-top: 1em;margin-bottom: 1em;">
            <span class="valor">{{selectedProduct.product.precio | currency : 'COP' : 0}}</span>
          </div>
        </div>

        <div class="container-photos">
          <div ng-repeat="i in fotos" class="col-md-{{cel}}">
            <div class="col-xs-12">
              <img class="foto-producto-caballete" ng-src="{{selectedColor[$index].imagen}}">
            </div>
            <div class="col-xs-12 color-container">
              <div class="col-xs-12">
                <div class="colors">
                    <span ng-repeat="color in selectedProduct.colors"
                          ng-init="colorindex = $index"
                          ng-if="color.color_code != null"
                          style="background-color: {{color.color_code}}"
                          ng-click="selectPack(i, colorindex)"
                          ng-class="{borderblack : color.color_code == '#FFFFFF', selected : selectedColor[$index].id == color.id}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <p>* Los precios no incluyen IVA</p>
        </div>

        <div class="col-md-12 fotos-controller text-center">
          <div class="col-md-3">
            <a href="" class="btn-continuar text-center" ng-click="continue(selectedProduct.product, selectedColor)">Sube tus fotos</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
