<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-12 text-center">
        <ul class="menuproducts">
          <li class="col-md-2 .col-sm-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-offset-md-9 paddingbottom">
        <uib-progressbar value="80"></uib-progressbar>
      </div>
      <div class="col-md-12">
        <h3>Escoge el empaque para tus fotos.</h3>
      </div>
      <div class="container-photos" style="padding-right: 0;">
        <div class="col-md-6 col-xs-6 col-sm-6" ng-repeat="group in packingGroups" ng-init="indexgroup = $index">
          <div class="empaque col-md-12 text-center" ng-init="lengthGroup = group.length - 1" ng-click="selectPack($index, indexgroup, lengthGroup)">
            <img ng-src="{{group[lengthGroup].imagemain}}" ng-class="packingSelected.imagen == group[lengthGroup].imagemain ? 'selected' : '' ">
          </div>
          <div class="colors" style="max-width: 320px">
            <span ng-if="color.color != null"
                  style="background-color: {{color.color_code}}"
                  ng-repeat="color in group"
                  ng-click="selectPack($index, indexgroup, lengthGroup)"
                  ng-class="{selected : packingSelected.id == color.id, borderblack : color.color_code == '#FFFFFF'}"></span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <p>* Los precios no incluyen IVA</p>
        </div>
      </div>
      <div class="col-md-12 fotos-controller text-center">
        <div class="col-md-2 col-md-offset-1">
          <a ng-click="goBack(tipoProducto)" class="btn-volver text-center" >
            <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" />
            </svg>
          </a>
        </div>
        <div class="col-md-3 tipo-foto">
          <p style="margin: 12px 0;">{{carrito[carrito.length-1].product.nombre}} + {{packingSelected.descripcion}}</p>
        </div>
        <div class="col-md-3 precio-fotos">
          <span class="labelvalor">Valor total</span>
          <span class="valor text-center" ng-model="totalprice">{{totalprice | currency:'COP' : 0}}</span>
        </div>
        <div class="col-md-2">
          <a href="" class="btn-continuar text-center" ng-click="continue(packingSelected)">Continuar</a>
        </div>
      </div>
    </div>
  </div>
</div>
