<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-12 text-center">
        <ul class="menuproducts">
          <li class="col-md-2 .col-sm-12" ng-repeat="tipo in tipos">
            <a ui-sref="products({idtipoproducto:tipo.id})"
               ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-offset-md-9 paddingbottom">
        <uib-progressbar value="80"></uib-progressbar>
      </div>
      <div class="col-md-12">
        <h3 class="title-product">Escoge el empaque para tus fotos.</h3>
      </div>
      <div class="container-photos">

        <div class="col-xs-12 text-center">
          <div class="col-xs-6 empaque" ng-repeat="group in packingGroups"
               ng-init="indexgroup = $index; lengthGroup = group.length - 1">
            <span>{{group[lengthGroup].groupname}}</span>
            <img ng-src="{{group[lengthGroup].imagemainmobile}}"
                 ng-click="selectPackMobile(indexgroup)"
                 ng-class="selectIndexGroup == indexgroup ? 'selectedMobile' : '';">
          </div>
        </div>

      </div>


      <div class="col-xs-12 text-center">
        <img ng-src="{{colorSelected.imagen}}" class="image-empaque">
        <div class="col-xs-12">
          <div class="col-xs-12 paddingbottom color-container">
            <div class="colors">
                <span ng-if="color.color != null"
                      style="background-color: {{color.color_code}}"
                      ng-repeat="color in packingSelected"
                      ng-click="selectColor($index)"
                      ng-class="{selected : colorSelected.id == color.id, borderblack : color.color_code == '#FFFFFF'}"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-offset-1 col-xs-10 tipo-foto text-center">
        <p>{{carrito[carrito.length-1].product.nombre}} + {{colorSelected.descripcion}}</p>
      </div>

      <div class="col-xs-12 precio-fotos">
        <span class="labelvalor">Valor total</span>
        <span class="valor text-center" ng-model="totalprice">{{totalprice | currency:'COP' : 0}}</span>
      </div>

      <div class="col-xs-12 text-center">
        <p>* Los precios no incluyen IVA</p>
      </div>
      <div class="col-xs-12 fotos-controller text-center">
        <div class="col-xs-offset-1 col-xs-3" style="padding-right:0">
          <a ng-click="goBack(tipoProducto)" class="btn-volver text-center">
            <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z" />
            </svg>
          </a>
        </div>
        <div class="col-xs-6" style="padding:0">
          <a href="" class="btn-continuar text-center" ng-click="continue(colorSelected)">Continuar</a>
        </div>
      </div>
    </div>
  </div>
</div>
