<div class="modal-header">
  <h3 class="modal-title text-center" id="modal-title">Costos pedido: {{vm.cost.fecharecepcion | date:'yyyy-MM-dd'}}-{{vm.cost.id}}</h3>
  <a ng-click="close()" class="close">
    <img src="../../../../img/xrealwhite.svg" class="close-x">
  </a>
</div>
<div class="modal-body" id="modal-body">
  <div class="row text-center">
    <h4>Producto</h4>
    <div ng-repeat="producto in vm.cost.productosPedido" ng-model="total=0">
      <div class="form-group col-md-6 col-xs-6">
        <label>Nombre</label>
        <h5>{{producto.productopedido_producto.nombre}}</h5>
      </div>
      <div class="form-group col-md-6 col-xs-6">
        <label>Precio</label>
        <h5>{{producto.productopedido_producto.precio | currency}}</h5>
      </div>
      <div ng-if="producto.productopedido_empaque" class="form-group col-md-6 col-xs-6">
        <label>Empaque</label>
        <h5>{{producto.productopedido_empaque.nombre}}</h5>
      </div>
      <div ng-if="producto.productopedido_empaque" class="form-group col-md-6 col-xs-6">
        <label>Precio</label>
        <h5>{{producto.productopedido_empaque.precio | currency}}</h5>
      </div>
      <div class="col-md-12 col-xs-12"><hr></div>
    </div>
  </div>
  <div class="row text-center">
    <h4>Totales</h4>
    <div class="form-group col-md-6 col-xs-6">
      <label>Costo envio</label>
      <h5>{{vm.cost.costoenvio | currency}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>IVA</label>
      <h5>{{vm.cost.iva | currency}}</h5>
    </div>
    <div class="form-group col-md-12 col-xs-12">
      <label>Total</label>
      <h5>{{vm.cost.total | currency}}</h5>
    </div>
  </div>
</div>
