<div class="modal-header">
  <h3 class="modal-title text-center" id="modal-title">{{vm.product.productopedido_producto.nombre}}</h3>
  <a ng-click="close()" class="close">
    <img src="../../../../img/xrealwhite.svg" class="close-x">
  </a>
</div>
<div class="modal-body" id="modal-body">
  <div class="row text-center">
    <h4>Producto</h4>
    <div class="form-group col-md-6 col-xs-6">
      <label>Nombre</label>
      <h5>{{vm.product.productopedido_producto.nombre}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Formato</label>
      <h5 ng-if="vm.product.productopedido_foto[0].formato">Cuadrado</h5>
      <h5 ng-if="!vm.product.productopedido_foto[0].formato">Polaroid</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6" ng-if="vm.product.productopedido_producto.id_tipoproducto == 6">
      <label>Mensaje</label>
      <h5>{{vm.product.productopedido_foto[0].texto}}</h5>
    </div>
  </div>
  <div class="row text-center" ng-if="vm.product.accesorios.length >= 1">
    <h4>Accesorios</h4>
    <div class="" ng-repeat="accesorio in vm.product.accesorios">
      <div class="form-group col-md-6 col-xs-6">
        <label>Nombre</label>
        <h5>{{accesorio.nombre}}</h5>
      </div>
      <div class="form-group col-md-6 col-xs-6">
        <label>Color</label>
        <h5>{{accesorio.color}}</h5>
      </div>
    </div>
  </div>
  <div class="row text-center" ng-if="vm.product.productopedido_empaque">
    <h4>Empaque</h4>
    <div class="form-group col-md-6 col-xs-6">
      <label>Nombre</label>
      <h5>{{vm.product.productopedido_empaque.nombre}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Color</label>
      <h5>{{vm.product.productopedido_empaque.color}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <a ng-href="/api/fotos_pedidos/fotos_pedidos/download/Pedido-{{vm.product.id_pedido}}-idProducto-{{vm.product.id}}.zip" class="btn-tipo-dash center-block text-center typeactive">
        Descargar {{vm.product.productopedido_foto.length}}
        <span ng-if="vm.product.productopedido_foto.length>1">Fotos</span>
        <span ng-if="vm.product.productopedido_foto.length==1">Foto</span>
      </a>
    </div>
  </div>
</div>
