<div class="modal-header">
  <h3 class="modal-title text-center" id="modal-title">Usuario pedido: {{vm.user.fecharecepcion | date:'yyyy-MM-dd'}}-{{vm.user.id}}</h3>
  <a ng-click="close()" class="close">
    <img src="../../../../img/xrealwhite.svg" class="close-x">
  </a>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="form-group col-md-6 col-xs-12">
      <label>Nombre</label>
      <h5>{{vm.user.nombre}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <label>Correo Electrónico</label>
      <h5>{{vm.user.id_user}}</h5>
    </div>
    <div ng-if="vm.user.bday != '_'" class="form-group col-md-6 col-xs-6">
      <label>Fecha de cumpleaños</label>
      <h5>{{vm.user.bday}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Ciudad</label>
      <h5>{{vm.user.ciudad}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Dirección</label>
      <h5>{{vm.user.direccion}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Dirección Envío</label>
      <h5>{{vm.user.direccionenvio}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Cedula</label>
      <h5>{{vm.user.cedula}}</h5>
    </div>
    <div class="form-group col-md-6 col-xs-6">
      <label>Telefono</label>
      <h5>{{vm.user.telefono}}</h5>
    </div>
    <div ng-if="!vm.user.politicas" class="form-group col-md-6 col-xs-6">
      <label>Autorización Instagram</label>
      <h5>No Autorizado</h5>
    </div>
    <div ng-if="vm.user.politicas" class="form-group col-md-6 col-xs-6">
      <label>Autorización Instagram</label>
      <h5>Autorizado</h5>
    </div>
    <div ng-if="vm.user.politicas" class="form-group col-md-6 col-xs-6">
      <label>Usuario Instagram</label>
      <h5>{{vm.user.usuarioinstagram}}</h5>
    </div>
  </div>
</div>
