<!--product in products-->
<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row row-products">

        <div class="col-md-12 paddingbottom">
          <div class="col-md-3">
            <h3 ng-if="!stateedition">Nuevo Empaque</h3>
            <h3 ng-if="stateedition">{{empaque.nombre}}</h3>
          </div>
          <div class="col-md-offset-7 col-md-2">
            <a href="" class="btn-back text-center" ui-sref="products">
              <span class="iconsvg">
                <svg fill="#8582f9" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
                    <path d="M0-.5h24v24H0z" fill="none"/>
                </svg>
              </span>
              Volver
            </a>
          </div>
        </div>

        <div class="col-md-12 productform">
          <div class="col-md-12 section-container paddingbottom">
            <h4>Empaque</h4>
            <div class="col-md-1 inputtext">
              <label for="empaque-tipo">Tipo</label>
              <select id="empaque-tipo" ng-model="empaque.tipo_empaque" ng-value="empaque.tipo_empaque">
                <option value="1" ng-selected="empaque.tipo_empaque == 1">Sobre</option>
                <option value="2" ng-selected="empaque.tipo_empaque == 2">Caja</option>
              </select>
            </div>
            <div class="col-md-2 inputtext">
              <label for="nombre-empaque">Nombre</label>
              <input type="text" ng-model="empaque.nombre" id="nombre-empaque">
            </div>
            <div class="col-md-2 inputtext">
              <label for="color-empaque">Color</label>
              <input type="text" ng-model="empaque.color" id="color-empaque">
            </div>
            <div class="col-md-2 inputtext">
              <label for="colorcode-empaque">Código HEX</label>
              <input type="text" min="0" ng-model="empaque.color_code" id="colorcode-empaque">
            </div>
            <div class="col-md-3 inputtext">
              <label for="descripcion-empaque">Descripción</label>
              <input type="text" min="0" ng-model="empaque.descripcion" id="descripcion-empaque">
            </div>
            <div class="col-md-1 inputtext">
              <label for="precio-empaque">Precio</label>
              <input type="number" min="0" ng-model="empaque.precio" id="precio-empaque">
            </div>
            <div class="col-md-offset-5 col-md-2 inputtext">
              <input class="btn-file" type="file" id="file" ngf-select="vm.upload()" accept="image/*" ngf-resize="{width: 500, height: 500, centerCrop: true}"
                ngf-multiple="true" ng-model="empaque.image">
              <label class="btn-add-file" for="file">Imagen de empaque</label>
            </div>
          </div>

          <div class="col-md-12 section-container paddingbottom">
            <h4>Seleccione a qué productos aplica</h4>
            <div class="types">
              <input type="radio" class="css-radio radGroup2" value="1" ng-model="empaque.id_tipoproducto" id="tipo1">
              <label for="tipo1" class="css-label-radio">Paquete de fotos</label>
            </div>
            <div class="types">
              <input type="radio" class="css-radio radGroup2" value="6" ng-model="empaque.id_tipoproducto" id="tipo2">
              <label for="tipo2" class="css-label-radio">Postales</label>
            </div>
            <input type="hidden" ng-value="empaque.id" ng-model="empaque.id">
          </div>

          <div class="col-md-3 btn-action">
            <a ng-if="!stateedition" href="" class="btn-blue text-center" ng-click="createPacking()">Crear empaque</a>
            <a ng-if="stateedition" href="" class="btn-blue text-center" ng-click="editPacking()">Editar empaque</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
