<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{title}}</h2>
            <img src="../../../../img/response.jpg" style="width: 100%;height: auto;padding: 2rem;">
        </div>
        <div class="col-md-12 text-center">
          <a class="btn-continuar" style="width: auto;" ui-sref="home()">Seguir Comprando</a>
        </div>
      </div>
    </div>
  </div>
</div>
