<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="40"></uib-progressbar>
        </div>
        <div class="col-md-12" style="display: flex;">
          <h3 class="title-product">Escoge el marco que deseas.</h3>
          <div class="container-disclaimer">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
              <div class="col-md-5 info-disclaimer">
                <img ng-src="{{disclaimer.imagen}}">
                <p ng-bind-html="disclaimer.disclaimer"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <a href="http://blog.instampa.co/cajas-y-sobres/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div class="col-md-12 paddingbottom">
          <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4 text-center prod-control">
            <div ng-click="prevProduct(idproduct, productsComplete.length)" class="nav-prod prev"><i class="fa fa-minus"></i></div>
            <p>({{selectedProduct.product.descripcion}})</p>
            <div ng-click="nextProduct(idproduct, productsComplete.length)" class="nav-prod next"><i class="fa fa-plus"></i></div>
          </div>
          <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-md-offset-4 col-md-4 text-center" style="margin-top: 1em;margin-bottom: 1em;">
            <span class="numFotosMarcos" ng-if="selectedProduct.product.numfotos == 1">Marco {{selectedProduct.product.numfotos}} foto</span>
            <span class="numFotosMarcos" ng-if="selectedProduct.product.numfotos > 1">Marco {{selectedProduct.product.numfotos}} fotos</span>
          </div>
          <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-md-offset-4 col-md-4 text-center" style="margin-top: 1em;margin-bottom: 1em;">
            <span class="valor">{{selectedProduct.product.precio | currency : 'COP' : 0}}</span>
          </div>
        </div>

        <div class="container-photos">
          <div class="col-md-offset-2 col-md-2">
            <div class="content-arrow">
              <div class="col-md-offset-7 col-md-5" style="padding: 0;">
                <svg ng-click="prevProduct(idproduct, productsComplete.length)" class="prev-arrow" id="Layer_1" data-name="Layer 1" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 82">
                  <defs>
                    <style>.cls-1{fill:#8582f9;}.cls-2{fill:#fff;}</style>
                  </defs>
                  <path class="cls-1" d="M27,55.47A14.47,14.47,0,1,0,12.53,41h0A14.47,14.47,0,0,0,27,55.47Z"/>
                  <path class="cls-2" d="M29,48.13l1.68-1.68L25.22,41l5.44-5.46L29,33.87,21.86,41Z"/>
                </svg>
                <div class="text-center" style="line-height: 130%;font-size: 1.4rem;">{{ antProduct.product.numfotos }} <br> <span ng-if="antProduct.product.numfotos>1">fotos</span>  <span ng-if="antProduct.product.numfotos==1">foto</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 col-sm-2">
            <img class="foto-producto" ng-src="{{selectedColor.imagen}}">
          </div>

          <div class="col-md-2">
            <div class="content-arrow">
              <div class="col-md-5" style="padding: 0;">
                <svg ng-click="nextProduct(idproduct, productsComplete.length)" class="next-arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 82">
                  <defs>
                    <style>.cls-1{fill:#8582f9;}.cls-2{fill:#fff;}</style>
                  </defs>
                  <path class="cls-1" d="M27,26.53A14.47,14.47,0,1,0,41.47,41h0A14.47,14.47,0,0,0,27,26.53Z"/>
                  <path class="cls-2" d="M25,33.87l-1.68,1.68L28.78,41l-5.44,5.46L25,48.13,32.14,41Z"/>
                </svg>
                <div class="text-center" style="line-height: 130%;font-size: 1.4rem;">{{ sigProduct.product.numfotos }}<br> <span ng-if="sigProduct.product.numfotos>1">fotos</span> <span ng-if="sigProduct.product.numfotos==1">foto</span></div>
              </div>
            </div>
          </div>
          <div class="col-md-offset-4 col-md-4" style="padding-left: 12px;padding-right: 0;">
            <div class="colors" style="margin-left: 0;">
              <span ng-repeat="color in selectedProduct.colors" ng-init="colorindex = $index" ng-if="color.color_code != null" style="background-color: {{color.color_code}}"
                ng-click="selectPack(idproduct, colorindex)" ng-class="{borderblack : color.color_code == '#FFFFFF', selected : selectedColor.id == color.id}"></span>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <p>* Los precios no incluyen IVA</p>
          </div>
        </div>

        <div class="col-md-offset-4 col-md-5" style="margin-left: 39%;">
          <a href="" class="btn-continuar text-center" ng-click="continue(selectedProduct.product, selectedColor)">Sube tus fotos</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
