<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-md-12 text-center">
        <ul class="menuproducts">
          <li class="col-md-2 .col-sm-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-offset-md-9 paddingbottom">
        <uib-progressbar value="80"></uib-progressbar>
      </div>
      <div class="col-md-12">
        <h3>Escoge el empaque para tus fotos.</h3>
      </div>
      <div class="container-photos">
        <div class="col-md-offset-3 col-md-6">
          <img class="col-md-12" ng-src="{{packingSelected.imagen}}">
          <div class="colors" style="width: 320px;">
            <span ng-if="paquetes[0].color != null"
                  style="background-color: {{color.color_code}}"
                  ng-repeat="color in paquetes"
                  ng-click="selectColor(color)"
                  ng-class="{selected : packingSelected.id == color.id, borderblack : color.color_code == '#FFFFFF'}"></span>
          </div>
        </div>
        <div class="clearfix"></div>
        <p class="packing-description">{{packingSelected.descripcion}}</p>
      </div>
      <div class="col-md-12 fotos-controller text-center">
        <div class="col-md-2 col-md-offset-1">
          <a ng-click="goBack()" class="btn-volver text-center" >
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-md-3 tipo-foto">
          <p style="margin: 12px 0;">{{carrito[carrito.length-1].product.nombre}} + {{packingSelected.descripcion}}</p>
        </div>
        <div class="col-md-3 precio-fotos">
          <span class="labelvalor">Valor total</span>
          <span class="valor text-center" ng-model="totalprice">{{totalprice | currency:'COP' : 0}}</span>
        </div>
        <div class="col-md-2">
          <a href="" class="btn-continuar text-center" ng-click="continue(packingSelected)">Continuar</a>
        </div>
      </div>
    </div>
  </div>
</div>
