<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="50"></uib-progressbar>
        </div>
        <div class="col-xs-12 paddingbottom"  style="display: flex;">
          <h3 class="title-product">Dedica tu postal.</h3>
          <div class="text-center open-disclaimer" ng-click="displayDisclaimer(true)">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
          <a href="http://blog.instampa.co/postales/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div ng-if="disclaimer_active == true" class="col-md-11 info-disclaimer">
          <a ng-click="displayDisclaimer(false)" class="close-disclaimer">
            <img src="../../../../img/xwhite.svg" class="close-x">
          </a>
          <div class="content-img">
            <img ng-src="{{disclaimer.imagen}}">
          </div>
          <p ng-bind-html="disclaimer.disclaimer"></p>
        </div>

        <div class="col-xs-12 paddingbottom">

          <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4 text-center prod-control" ng-init="id = 0" style="margin-bottom:inherit;">
            <div ng-if="products.length > 1" ng-click="prevProduct(idproduct, products.length)" class="nav-prod prev" style="position: inherit;"><i class="fa fa-minus"></i></div>
            <p style="display: inline;position: inherit !important;">{{selectedProduct.descripcion}}</p>
            <div ng-if="products.length > 1" ng-click="nextProduct(idproduct, products.length)" class="nav-prod next" style="position: inherit;"><i class="fa fa-plus"></i></div>
          </div>

          <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-md-offset-4 col-md-4 text-center paddingbottom" style="margin-top: 1em;margin-bottom: 1em;">
            <span class="valor">{{selectedProduct.precio | currency : 'COP' : 0}}</span>
          </div>
        </div>

        <div class="col-xs-12">
          <textarea class="tweet-comment" rows="5" id="comment" ng-model="text" maxlength="140" placeholder="Escribe tu dedicatoria aquí (máx. 150 caracteres)"></textarea>
        </div>

        <div class="col-xs-12 text-center">
          <p>* Los precios no incluyen IVA</p>
        </div>

        <div class="col-xs-12 fotos-controller text-center">
          <a href="" class="btn-continuar" ng-click="continue(selectedProduct, text)" >Continuar</a>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
