<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="50"></uib-progressbar>
        </div>
        <div class="col-md-12" style="display: flex;">
          <h3 class="title-product">Dedica tu postal.</h3>
          <div class="container-disclaimer">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
              <div class="col-md-5 info-disclaimer">
                <img ng-src="{{disclaimer.imagen}}">
                <p ng-bind-html="disclaimer.disclaimer"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <a href="http://blog.instampa.co/postales/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div class="col-md-12 paddingbottom">
          <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4 text-center prod-control" ng-init="id = 0">
            <div ng-if="products.length > 1" ng-click="prevProduct(idproduct, products.length)" class="nav-prod prev"><i class="fa fa-minus"></i></div>
            <p>{{selectedProduct.descripcion}}</p>
            <div ng-if="products.length > 1" ng-click="nextProduct(idproduct, products.length)" class="nav-prod next"><i class="fa fa-plus"></i></div>
          </div>
          <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-md-offset-4 col-md-4 text-center" style="margin-top: 1em;margin-bottom: 1em;">
            <span class="valor">{{selectedProduct.precio | currency : 'COP' : 0}}</span>
          </div>
        </div>

        <div class="container-photos">
          <!--<div class="col-md-6 col-xs-12 postales-img" ng-style="{'background-image':'url(../'+selectedProduct.imagen+')'}">-->
          <div class="col-md-6 col-xs-12 postales-img">
            <img ng-src="../{{selectedProduct.imagen}}" class="info">
            <div class="textarea-comment">
              <textarea class="col-md-4 col-md-offset-1 tweet-comment" rows="5" id="comment" ng-model="text" maxlength="140" placeholder="Escribe tu dedicatoria aquí (máx. 150 caracteres)"></textarea>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <p>* Los precios no incluyen IVA</p>
        </div>

        <div class="col-md-offset-4 col-md-4" style="margin-top: 25px;">
          <a href="" style="width: 100%;" class="btn-continuar text-center" ng-click="continue(selectedProduct, text)">Continuar</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
