<div id="loading" ng-if="loading" style="background-image:url('../../../../img/cargando600.gif')">
  <div class="remain text-center">{{ subidas }} / {{fotosUser.length}} fotos</div>
</div>

<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="paqueteFotos({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="40"></uib-progressbar>
        </div>
        <div class="col-xs-12 paddingbottom" style="display: flex;">
          <h3 class="title-product">Escoge el paquete que deseas.</h3>
          <div class="text-center open-disclaimer" ng-click="displayDisclaimer(true)">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
          <a href="http://blog.instampa.co/c-a-j-a-s-s-o-b-r-e-s/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>

        <div ng-if="disclaimer_active == true" class="col-md-11 info-disclaimer">
          <a ng-click="displayDisclaimer(false)" class="close-disclaimer">
            <img src="../../../../img/xwhite.svg" class="close-x">
          </a>
          <div class="content-img">
            <img ng-src="{{disclaimer.imagen}}">
          </div>
          <p ng-bind-html="disclaimer.disclaimer"></p>
        </div>

        <div class="col-xs-12">
          <div class="col-xs-offset-2 col-xs-8 text-center prod-control" ng-init="id = 0">
            <div ng-click="(id == 0) ? id = products.length-1: id=id-1; crearCantidadFotos(id)" class="nav-prod prev"><i class="fa fa-minus"></i></div>
            <p>({{products[id].numfotos}} Fotos)</p>
            <div ng-click="(id == products.length -1) ? id=0 : id=id+1; crearCantidadFotos(id)" class="nav-prod next"><i class="fa fa-plus"></i></div>
          </div>
        </div>
        <div class="col-xs-12 precio-fotos">
          <span class="labelvalor">Valor total</span>
          <span class="valor text-center" ng-model="products[id].precio">{{products[id].precio  | currency:'COP' : 0}}</span>
        </div>
        <div class="col-xs-12 fotos-controller paddingbottom text-center">
          <div class="col-xs-6 btn-add">
            <input class="btn-green" type="file" id="file"  ng-click="showGif()" ngf-min-width="1" ngf-min-height="1" ngf-select="vm.upload()" ng-click="loading = true" angf-accept="'image/*'" ngf-multiple="true" ng-model="files">
            <label class="btn-add-file" for="file">Agrega Fotos</label>
          </div>
          <div class="col-xs-6 tipo-foto" style="padding: 0px;">
            <span class="labelvalor">Formato foto</span>
            <div>
              <input type="checkbox" class="css-checkbox" id="format" ng-model="format" name="">
              <label for="format" class="css-label-check" ng-click="changeFormato(format)"></label>
            </div>
          </div>
          <div class="col-xs-12 text-center" style="margin: 0.7rem 0;">
            <p ng-if="fotos.length>10" class="max-fotos">Por favor sube máximo 10 fotos por tanda</p>
            <p>Antes de imprimir, Nosotros CENTRAMOS y AJUSTAMOS las fotos al espacio de impresión.</p>
            <p>* Los precios no incluyen IVA</p>
          </div>
        </div>

        <div class="container-photos">
          <div class="col-md-2 col-xs-6 col-sm-2" ng-repeat="i in fotos">
            <div class="polaroid">
              <a ng-if="fotosUser[$index]" ng-click="delete($index)" class="delete">
                <img src="../../../../img/xwhite.svg">
              </a>
              <img class="polaroidimage" ng-src="../../../../img/{{polaroid}}">
              <div class="fotos-agregadas" ng-class="{'crophorizontal' : fotosUser[$index].width >= fotosUser[$index].height, 'cropvertical' : fotosUser[$index].height > fotosUser[$index].width}">
                <img ngf-thumbnail="fotosUser[$index] || '/img/instampa_placeholder.svg'">
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 fotos-controller text-center">
          <a href="" class="btn-continuar" ng-click="continue(products[id], format)" >Continuar</a>
        </div>
      </div>
    </div>
  </div>
</div>
