<div id="loading" ng-if="loading" style="background-image:url('../../../../img/cargando600.gif')">
  <div class="remain text-center">{{ subidas }} / {{fotosUser.length}} fotos</div>
</div>

<div class="cont-content">
  <div class="container-fluid">
    <div class="row animate-box fadeInUp animated-fast">
      <div class="col-sm-12 text-center">
        <ul class="menuproducts">
          <li class="col-sm-2 col-xs-12" ng-repeat="tipo in tipos">
            <a ui-sref="{{tipo.slug}}({idtipoproducto:tipo.id})" ng-class="{'active' : tipo.id == productid}">{{tipo.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-offset-md-9 paddingbottom">
          <uib-progressbar value="40"></uib-progressbar>
        </div>
        <div class="col-md-12" style="display: flex;">
          <h3 class="title-product">Escoge el paquete que deseas.</h3>
          <div class="container-disclaimer">
            <div class="disclaimer"><img src="../../../../img/i.svg" class="info">
              <div class="col-md-5 info-disclaimer">
                <img ng-src="{{disclaimer.imagen}}">
                <p ng-bind-html="disclaimer.disclaimer"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <a href="http://blog.instampa.co/c-a-j-a-s-s-o-b-r-e-s/" target="_blank" class="btn-continuar text-center">Ver más fotos</a>
        </div>
        <div class="container-photos">
          <div class="col-md-{{cel}}" ng-repeat="i in fotos">
            <div class="polaroid">
              <a ng-if="fotosUser[$index]" ng-click="delete($index)" class="delete">
                <img src="../../../../img/xwhite.svg">
              </a>
              <img class="polaroidimage" ng-src="../../../../img/{{polaroid}}">
              <div class="fotos-agregadas" ng-class="{'crophorizontal' : fotosUser[$index].width >= fotosUser[$index].height, 'cropvertical' : fotosUser[$index].height > fotosUser[$index].width}">
                <img ngf-thumbnail="fotosUser[$index] || '/img/instampa_placeholder.svg'">
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p ng-if="fotos.length>10" class="max-fotos">Te recomendamos subir máximo 10 fotos por tanda</p>
        </div>
        <div class="col-md-12 text-center">
          <p>Antes de imprimir, Nosotros CENTRAMOS y AJUSTAMOS las fotos al espacio de impresión.</p>
          <p>* Los precios no incluyen IVA</p>
        </div>
        <div class="col-md-12">
          <div class="col-xs-offset-3 col-xs-6 col-sm-6 col-md-offset-5 col-md-2 text-center prod-control" ng-init="id = 0">
            <div ng-click="(id == 0) ? id = products.length-1: id=id-1; crearCantidadFotos(id)" class="nav-prod prev"><i class="fa fa-minus"></i></div>
            <p>({{products[id].numfotos}} Fotos)</p>
            <div ng-click="(id == products.length -1) ? id=0 : id=id+1; crearCantidadFotos(id)" class="nav-prod next"><i class="fa fa-plus"></i></div>
          </div>
        </div>
        <div class="col-md-12 fotos-controller text-center">
          <div class="col-md-3 btn-add">
            <input class="btn-green" type="file" id="file" ngf-select="vm.upload()" ngf-min-width="1" ngf-min-height="1" ng-click="showGif()" ngf-accept="'image/*'"  ngf-multiple="true" ng-model="files">
            <label class="btn-add-file" for="file">Agrega fotos</label>
          </div>
          <div class="col-md-3 tipo-foto" style="padding: 0px;">
            <span class="labelvalor">Formato foto</span>
            <input type="checkbox" class="css-checkbox" id="format" ng-model="format" name="">
            <label for="format" class="css-label-check" ng-click="changeFormato(format)"></label>
          </div>
          <div class="col-md-3 precio-fotos">
            <label class="labelvalor">Valor total</label>
            <span class="valor text-center" ng-model="products[id].precio">{{products[id].precio | currency:'COP' : 0}}</span>
          </div>
          <div class="col-md-3">
            <a href="" class="btn-continuar text-center" ng-click="continue(products[id], format)" >Continuar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
