<div class="cont-content">
  <div class="container-fluid">
    <div class="container">
      <div class="row row-products">

        <div class="col-md-12 paddingbottom">
          <div class="col-md-3">
            <h3>Categorías.</h3>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-9">
          <div class="col-md-12 productform">

            <div class="col-md-12 section-container paddingbottom" ng-repeat="category in categories">
              <h4>Nombre</h4>
              <div class="col-md-12 inputtext paddingbottom">
                <input type="text" ng-model="categoriaedit[$index].nombre" ng-value="category.nombre" size="100">
              </div>
              <h4>Imagen</h4>
              <div class="col-md-12 paddingbottom">
                <div class="col-md-3 inputtext" style="padding-left:0;">
                  <input class="btn-file" type="file" id="file-categoria{{$index}}" ngf-select="vm.upload()" accept="image/*"
                    ngf-multiple="false" ng-model="categoriaedit[$index].imagen">
                  <label class="btn-add-file" for="file-categoria{{$index}}" style="margin-top: auto;">Subir imagen</label>
                </div>
              </div>
              <h4>Descripción</h4>
              <div class="col-md-12 inputtext paddingbottom">
                <textarea rows="2" ng-model="categoriaedit[$index].descripcion" ng-bind-html="category.descripcion"></textarea>
              </div>
              <h4>Disclaimer</h4>
              <div class="col-md-12 inputtext paddingbottom">
                <textarea rows="5" ng-model="categoriaedit[$index].disclaimer" ng-bind-html="category.disclaimer"></textarea>
              </div>
              <div class="col-md-4">
                <a href="" class="btn-blue text-center" ng-click="editCategories(category.id, $index)">Editar Categoría</a>
                <div class="saved" ng-if="categoriaedit[$index].saved">
                  <svg fill="#4caf50" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                    />
                  </svg>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
